<mat-card>
    <mat-card-header>
        <mat-card-title>Datos Sociedad</mat-card-title>
        <button mat-icon-button color="primary" (click)="openDialogSociedad()" aria-label="Buscar Persona Moral" matTooltip="Buscar Persona Moral">
            <mat-icon>search</mat-icon>
        </button>
    </mat-card-header>
    <br>
    <mat-card-header>
        <mat-card-title>Datos persona moral</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <!-- Búsqueda por nombre -->
        <div class="row">
            <div class="col-1 text-center">
            </div>
            <div class="col-2">
                <h4 class="cdmx-color-sf">Razón social:</h4>
            </div>
            <div class="col">
                <mat-form-field class="input-no-notario">
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput [required]="true">
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-1 text-center">
            </div>
            <div class="col-2">
                <h4 class="cdmx-color-sf">RFC:</h4>
            </div>
            <div class="col">
                <mat-form-field class="input-no-notario">
                    <mat-label>RFC</mat-label>
                    <input matInput [required]="true">
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
        </div>
        <!-- Fin de nombre -->

        <br>
        <mat-card-header>
            <mat-card-title>Datos especificos de la sociedad</mat-card-title>
        </mat-card-header>
        <div class="row">
            <div class="col-1 text-center">
            </div>
            <div class="col-2">
                <h4 class="cdmx-color-sf">Registro:</h4>
            </div>
            <div class="col-3">
                <mat-form-field class="input-no-notario">
                    <mat-label>Registro</mat-label>
                    <input matInput [required]="true">
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
            <div class="col-1 text-center">
            </div>
        </div>

        <div class="row">
            <div class="col-1 text-center">
            </div>
            <div class="col-2">
                <h4 class="cdmx-color-sf">Fecha Alta:</h4>
            </div>
            <div class="col">
                <mat-form-field class="input-rango-fechas">
                    <mat-label>Fecha Alta</mat-label>
                    <input matInput readonly [matDatepicker]="pickini">
                    <mat-datepicker-toggle matSuffix [for]="pickini"></mat-datepicker-toggle>
                    <mat-datepicker #pickini></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-1 text-center">
            </div>
            <div class="col-2">
                <h4 class="cdmx-color-sf">Fecha Baja:</h4>
            </div>
            <div class="col">
                <mat-form-field class="input-rango-fechas">
                    <mat-label>Fecha Baja</mat-label>
                    <input matInput readonly [matDatepicker]="pickfin">
                    <mat-datepicker-toggle matSuffix [for]="pickfin"></mat-datepicker-toggle>
                    <mat-datepicker #pickfin></mat-datepicker>
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-1 text-center">
            </div>
            <div class="col-2">
                <h4 class="cdmx-color-sf">E-Mail:</h4>
            </div>
            <div class="col">
                <mat-form-field class="input-no-notario">
                    <mat-label>E-Mail</mat-label>
                    <input matInput [required]="true">
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-1 text-center">
            </div>
            <div class="col-2">
                <h4 class="cdmx-color-sf">Login:</h4>
            </div>
            <div class="col">
                <mat-form-field class="input-no-notario">
                    <mat-label>Login</mat-label>
                    <input matInput [required]="true">
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-2 offset-md-8">
                <div class="d-flex flex-row-reverse">
                    <button mat-stroked-button class="boton-n-representacion" color="primary" aria-label="Guardar">
                        Guardar
                    </button>
                </div>
            </div>
            <div class="col-md-2">
                <div class="d-flex flex-row-reverse">
                    <button mat-stroked-button class="boton-n-representacion" color="warn" aria-label="Cancelar">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>