<h1 mat-dialog-title class="verde-cdmx">Búsqueda de personas morales</h1>
<br>
<div mat-dialog-content>
    <mat-card-content>
        <!-- Búsqueda por nombre -->
        <div class="row">
            <mat-form-field appearance="outline" class="col-6">
                <mat-label>Razón Social</mat-label>
                <input matInput [(ngModel)]="razonSocial" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(false)" placeholder="Ingrese la razón social">
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-6">
                <mat-label>RFC</mat-label>
                <input matInput [(ngModel)]="rfc" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)" placeholder="Ingrese el RFC">
                <mat-error></mat-error>
            </mat-form-field>
        </div>
        
        <!-- Fin de nombre -->

        <!-- Búsqueda por RFC CRUP -->
        <div class="row">
            
        </div>
        <!-- Fin de RFC -->

        <div class="row">
            <div class="col-md-2 offset-md-5">
                <div class="d-flex flex-row-reverse">
                    <button mat-icon-button color="primary" aria-label="Limpiar Filtros" matTooltip="Limpiar Filtros" (click)="clean()">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" aria-label="Busqueda" matTooltip="Buscar" (click)="getSociedad()" [disabled]="!search">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>
        </div>


        <br>
        <ng-container>
            <div style="padding: 30px; text-align: center;" *ngIf="loading">
                <mat-spinner style="margin:0 auto;"></mat-spinner>
                <p>Cargando...</p>
            </div>
            <div class="alert alert-info" *ngIf="dataSource.length == 0 && !loading">
                No hay registros para el filtro seleccionado
            </div> 
            <table mat-table [dataSource]="dataPaginate" *ngIf="!loading && dataSource.length > 0">
                <ng-container matColumnDef="razon">
                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                    <td mat-cell *matCellDef="let element">{{ element.APELLIDOPATERNO }}</td>
                </ng-container>
                <ng-container matColumnDef="rfc">
                    <th mat-header-cell *matHeaderCellDef> RFC </th>
                    <td mat-cell *matCellDef="let element">{{ element.RFC }}</td>
                </ng-container>
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef> Seleccionar </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-radio-group [(ngModel)]="optionPeritoPersona">
                            <mat-radio-button [value]="element" (change)="sociedadSelected(element)"></mat-radio-button>
                        </mat-radio-group>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[pageSize]" [showFirstLastButtons]="true" (page)="paginado($event)">
            </mat-paginator>
        </ng-container>
    </mat-card-content>
</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-flat-button color="primary" [mat-dialog-close]="sociedadDialog">Aceptar</button>
</mat-dialog-actions>