<mat-card>

    <ng-container>

        <div class="borde">

            <!-- *************** -->
            <!-- Datos generales -->
            <!-- *************** -->
            <mat-card-header>
                <mat-card-title>Datos Generales:</mat-card-title>
            </mat-card-header>
            
            <div style="padding: 30px; text-align: center;" *ngIf="loading">
                <mat-spinner style="margin:0 auto;"></mat-spinner>
                <p>Cargando...</p>
            </div>
            
            <mat-card-content style="padding-left: 30px;">
            
                    <ng-container *ngIf="contribuyente.tipoPersona == 'F' && !loading">
                        <form [formGroup]="fisicaFormGroup">
                            <div class="row">
                                <mat-form-field appearance="outline" class="col-10">
                                    <mat-label>Nombre:</mat-label>
                                    <input matInput formControlName="nombre" [(ngModel)]="contribuyente.nombre" style="text-transform: uppercase;">
                                    <mat-error *ngIf="fisicaFormGroup.controls.nombre.errors?.required">Requerido</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field appearance="outline" class="col-5">
                                    <mat-label>Apellido Paterno:</mat-label>
                                    <input matInput formControlName="apaterno" [(ngModel)]="contribuyente.apaterno" style="text-transform: uppercase;">
                                    <mat-error *ngIf="fisicaFormGroup.controls.apaterno.errors?.required">Requerido</mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-5">
                                    <mat-label>Apellido Materno:</mat-label>
                                    <input matInput formControlName="amaterno" [(ngModel)]="contribuyente.amaterno" style="text-transform: uppercase;">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field appearance="outline" class="col-5">
                                    <mat-label>RFC:</mat-label>
                                    <input matInput formControlName="rfc" (keyup)="changeRequired('curp', 'rfc')" [(ngModel)]="contribuyente.rfc" style="text-transform: uppercase;">
                                    <mat-error *ngIf="fisicaFormGroup.controls.rfc.errors?.required">Se han de llenar algunos de los campos de RFC o CURP</mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-5">
                                    <mat-label>CURP:</mat-label>
                                    <input matInput formControlName="curp" (keyup)="changeRequired('rfc', 'curp')" [(ngModel)]="contribuyente.curp" style="text-transform: uppercase;">
                                    <mat-error *ngIf="fisicaFormGroup.controls.curp.errors?.required">Se han de llenar algunos de los campos de RFC o CURP</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field appearance="outline" class="col-5">
                                    <mat-label>Clave INE:</mat-label>
                                    <input matInput formControlName="ine" [(ngModel)]="contribuyente.ine" style="text-transform: uppercase;">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field appearance="fill" class="col-5">
                                    <mat-label>Otro Documento:</mat-label>
                                    <mat-select formControlName="idDocIdent" [(ngModel)]="contribuyente.idDocIdent">
                                        <mat-option *ngFor="let documento of dataDocumentos" [value]="documento.IDDOCIDENTIF">
                                            {{ documento.DESCRIPCION }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-5">
                                    <mat-label>Número Documento</mat-label>
                                    <input matInput formControlName="docIdent" [(ngModel)]="contribuyente.docIdent" style="text-transform: uppercase;">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field appearance="fill" class="col-5">
                                    <mat-label>Fecha Nacimiento:</mat-label>
                                    <input matInput readonly formControlName="fechaNacimiento" [matDatepicker]="pickfechaNacimiento" [(ngModel)]="contribuyente.fechaNacimiento">
                                    <mat-datepicker-toggle matSuffix [for]="pickfechaNacimiento"></mat-datepicker-toggle>
                                    <mat-datepicker #pickfechaNacimiento></mat-datepicker>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="col-5">
                                    <mat-label>Fecha Defunción:</mat-label>
                                    <input matInput readonly formControlName="fechaDefuncion" [matDatepicker]="pickfechaDefuncion" [(ngModel)]="contribuyente.fechaDefuncion">
                                    <mat-datepicker-toggle matSuffix [for]="pickfechaDefuncion"></mat-datepicker-toggle>
                                    <mat-datepicker #pickfechaDefuncion></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field appearance="outline" class="col-5">
                                    <mat-label>Celular:</mat-label>
                                    <input matInput formControlName="celular" [(ngModel)]="contribuyente.celular">
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="col-5">
                                    <mat-label>E-mail:</mat-label>
                                    <input matInput formControlName="email" [(ngModel)]="contribuyente.email">
                                </mat-form-field>
                            </div>
                        </form>
                    </ng-container>
                    <ng-container *ngIf="contribuyente.tipoPersona == 'M' && !loading">
                        <form [formGroup]="moralFormGroup">
                            <div class="row">
                                <mat-form-field appearance="outline" class="col-10">
                                    <mat-label>Nombre:</mat-label>
                                    <input matInput formControlName="nombre_moral" [(ngModel)]="contribuyente.nombre_moral" style="text-transform: uppercase;">
                                    <mat-error *ngIf="moralFormGroup.controls.nombre_moral.errors?.required">Requerido</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field appearance="outline" class="col-5">
                                    <mat-label>RFC:</mat-label>
                                    <input matInput formControlName="rfc" [(ngModel)]="contribuyente.rfc" style="text-transform: uppercase;">
                                    <mat-error *ngIf="moralFormGroup.controls.rfc.errors?.required">Requerido</mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="col-5">
                                    <mat-label>Act. preponderante:</mat-label>
                                    <input matInput formControlName="actPreponderante" [(ngModel)]="contribuyente.actPreponderante" style="text-transform: uppercase;">
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <mat-form-field appearance="fill" class="col-5">
                                    <mat-label>Tipo de persona moral</mat-label>
                                    <mat-select formControlName="idTipoPersonaMoral">
                                        <mat-option value=""></mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="col-5">
                                    <mat-label>Fecha de inicio de operación:</mat-label>
                                    <input matInput readonly formControlName="fechaInicioOperacion" [matDatepicker]="pickfechaInicioOperacion" [(ngModel)]="contribuyente.fechaInicioOperacion">
                                    <mat-datepicker-toggle matSuffix [for]="pickfechaInicioOperacion"></mat-datepicker-toggle>
                                    <mat-datepicker #pickfechaInicioOperacion></mat-datepicker>
                                </mat-form-field>                            
                            </div>
                            <div class="row">
                                <mat-form-field appearance="fill" class="col-5">
                                    <mat-label>Motivo del cambio de situación</mat-label>
                                    <mat-select formControlName="idMotivo" >
                                        <mat-option value=""></mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="fill" class="col-5">
                                    <mat-label>Fecha de cambio de situación:</mat-label>
                                    <input matInput readonly formControlName="fechaCambio" [matDatepicker]="pickfechaCambio" [(ngModel)]="contribuyente.fechaCambio">
                                    <mat-datepicker-toggle matSuffix [for]="pickfechaCambio"></mat-datepicker-toggle>
                                    <mat-datepicker #pickfechaCambio></mat-datepicker>
                                </mat-form-field>                            
                            </div>
                        </form>
                    </ng-container>
                    <div class="row">
                        <!-- <div class="col-md-3">
                            <div class="d-flex flex-row-reverse" style="float: left;">
                                <button mat-stroked-button class="boton-n-representacion" color="primary" aria-label="Historial" style="margin: auto; font-size: 11px;" (click)="viewHistoricoDatosPersonales(this.idContribuyente)" *ngIf="!loading">
                                    Historial Datos Generales <mat-icon style="display: inherit; width: 11px;">list</mat-icon>
                                </button>
                            </div>
                        </div> -->
                        <div class="col-md-5">
                            <div class="d-flex flex-row-reverse" style="float: left;">
                                <button mat-stroked-button class="boton-n-representacion" color="primary" aria-label="Historial" style="margin: auto; font-size: 11px;" (click)="consultaInfoCambios()" *ngIf="!loading">
                                    Histórico de Cambios <mat-icon style="display: inherit; width: 11px;">list</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
             
            </mat-card-content>
            <br><br>
            <!-- ***************** -->
            <!-- Datos de contacto -->
            <!-- ***************** -->
            <mat-card-header>
                <mat-card-title>Datos de contacto</mat-card-title><br>
            </mat-card-header>

            <!-- Domicilios -->
            <mat-card-header>
                <h3 style="margin: 0 0 15px;" class="verde-cdmx">Domicilios:</h3>
            </mat-card-header>
            <div class="col-md-12">
                <ng-container>
                    <div style="padding: 30px; text-align: center;" *ngIf="loadingDomicilios">
                        <mat-spinner style="margin:0 auto;"></mat-spinner>
                        <p>Cargando...</p>
                    </div>
                    <div class="alert alert-info" *ngIf="!loadingDomicilios && dataSource1.length == 0">
                        No hay direcciones asociadas.
                    </div> 
                    <table mat-table [dataSource]="dataPaginate1" *ngIf="!loadingDomicilios && dataSource1.length > 0" width="100%">
                        <ng-container matColumnDef="tipoDir">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="11%" style="text-align: center; font-size: 13px; padding-left: 0px;"> Tipo Dirección</th>
                            <td mat-cell *matCellDef="let element" style="text-align: center; font-size: 13px;"> {{ element.CODTIPOSDIRECCION }}</td>
                        </ng-container>
                        <ng-container matColumnDef="direccion">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="79%" style="font-size: 13px;"> Dirección </th>
                            <td mat-cell *matCellDef="let element" style="font-size: 13px;">
                                {{ element.ABREVIATURAVIA }}, {{ element.VIA }} {{ element.NUMEROEXTERIOR }}, Col: {{ element.COLONIA}}
                                C.P. {{ element.CODIGOPOSTAL}}, {{ element.DELEGACION}} ({{ element.ESTADO }})
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="historial">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="10%" style="text-align: center; font-size: 14px;"><span *ngIf="Auditor"> Historial </span></th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">
                                <button mat-icon-button *ngIf="Auditor" type="button" color="primary" aria-label="Historial" matTooltip="Historial" (click)="viewHistoricoDomicilio(element.IDDIRECCION)">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsDom"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsDom;"></tr>
                    </table>
                    <mat-paginator #paginator [length]="total1" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado1($event)">
                    </mat-paginator>
                </ng-container>
            </div>

            <!-- Gestión de Domicilios para Recibir Boletas Prediales -->
            <!-- <mat-card-header>
                <h3 style="margin: 0 0 15px;" class="verde-cdmx">Gestión de Domicilios para Recibir Boletas Prediales:</h3>
            </mat-card-header>
            <div class="col-md-12">
                <ng-container>
                    <div style="padding: 30px; text-align: center;" *ngIf="loadingDomicilios">
                        <mat-spinner style="margin:0 auto;"></mat-spinner>
                        <p>Cargando...</p>
                    </div>
                    <div class="alert alert-info" *ngIf="!loadingDomicilios && dataPaginate2.length == 0">
                        No hay direcciones asociadas.
                    </div> 
                    <table mat-table [dataSource]="dataPaginate2" *ngIf="!loadingDomicilios && dataPaginate2.length > 0" width="100%">
                        <ng-container matColumnDef="tipoDir">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="11%" style="text-align: center; font-size: 13px; padding-left: 0px;"> Tipo Dirección </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center; font-size: 13px;"> {{ element.CODTIPOSDIRECCION }}</td>
                        </ng-container>
                        <ng-container matColumnDef="direccion">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="79%" style="font-size: 13px;"> Dirección </th>
                            <td mat-cell *matCellDef="let element" style="font-size: 13px;">
                                {{ element.ABREVIATURAVIA }}, {{ element.VIA }} {{ element.NUMEROEXTERIOR }}, Col: {{ element.COLONIA}}
                                C.P. {{ element.CODIGOPOSTAL}}, {{ element.DELEGACION}} ({{ element.ESTADO }})
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="historial">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="10%" style="text-align: center; font-size: 14px;"><span *ngIf="Auditor"> Historial </span></th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">
                                <button mat-icon-button *ngIf="Auditor" type="button" color="primary" aria-label="Historial" matTooltip="Historial" (click)="viewHistoricoDomicilio(element.IDDIRECCION)">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsDom"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsDom;"></tr>
                    </table>
                    <mat-paginator #paginator [length]="total2" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado2($event)">
                    </mat-paginator>
                </ng-container>                    
            </div> -->

            <!-- Datos de bienes -->
            <mat-card-header>
                <h3 style="margin: 0 0 15px;" class="verde-cdmx">Datos de bienes:</h3>
            </mat-card-header>
            <div class="col-md-12"> 
                <ng-container>
                    <div style="padding: 30px; text-align: center;" *ngIf="loadingInmuebles">
                        <mat-spinner style="margin:0 auto;"></mat-spinner>
                        <p>Cargando...</p>
                    </div>
                    <div class="alert alert-info" *ngIf="!loadingInmuebles && dataSource3.length == 0">
                        No hay inmuebles asociados.
                    </div> 
                    <table mat-table [dataSource]="dataPaginate3" *ngIf="!loadingInmuebles && dataSource3.length > 0" width="100%">
                        <ng-container matColumnDef="inmueble">
                            <th mat-header-cell *matHeaderCellDef width="15%"> Inmueble </th>
                            <td mat-cell *matCellDef="let element" width="15%">
                                {{ element.INMUEBLE }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="direccion">
                            <th mat-header-cell *matHeaderCellDef width="30%"> Dirección </th>
                            <td mat-cell *matCellDef="let element" width="30%">
                                {{ element.DIRECCION }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="domicilio">
                            <th mat-header-cell *matHeaderCellDef width="30%"> Domicilio Notificación </th>
                            <td mat-cell *matCellDef="let element" width="30%">
                                {{ element.DOMICILIOFISCAL }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="descripcion">
                            <th mat-header-cell *matHeaderCellDef width="20%"> Descripción </th>
                            <td mat-cell *matCellDef="let element" width="20%">
                                {{ element.DESCRIPCION }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="sujeto">
                            <th mat-header-cell *matHeaderCellDef width="5%"> Sujeto Pasivo </th>
                            <td mat-cell *matCellDef="let element" width="5%">
                                {{ element.ESSUJETOPASIVO }}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsInm"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsInm;"></tr>
                    </table>
                    <mat-paginator #paginator [length]="total3" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado3($event)">
                    </mat-paginator>
                </ng-container>                    
            </div>


            <!-- *********************** -->
            <!-- Datos de representación -->
            <!-- *********************** -->
            <mat-card-header>
                <mat-card-title>Datos de representación</mat-card-title><br>
            </mat-card-header>

            <!-- Representantes -->
            <mat-card-header>
                <h3 style="margin: 0 0 15px;" class="verde-cdmx">Representante:</h3>
            </mat-card-header>
            <div class="col-md-12">
                <ng-container>
                    <div style="padding: 30px; text-align: center;" *ngIf="loadingRepresentante">
                        <mat-spinner style="margin:0 auto;"></mat-spinner>
                        <p>Cargando...</p>
                    </div>
                    <div class="alert alert-info" *ngIf="!loadingRepresentante && dataSource4.length == 0">
                        No hay representantes asociados.
                    </div> 
                    <table mat-table [dataSource]="dataPaginate4" *ngIf="!loadingRepresentante && dataSource4.length > 0" width="100%">
                        <ng-container matColumnDef="representacion">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="15%" style="font-size: 13px;"> Tipo Dirección </th>
                            <td mat-cell *matCellDef="let element" style="font-size: 13px;">
                                {{ element.APELLIDOPATERNO }} {{ element.APELLIDOMATERNO }} {{ element.NOMBRE }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="texto">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="75%" style="font-size: 13px;"> Texto </th>
                            <td mat-cell *matCellDef="let element" style="font-size: 13px;">
                                {{ element.TEXTOREPRESENTACION }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="caducidad">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="75%" style="font-size: 13px;"> Caducidad </th>
                            <td mat-cell *matCellDef="let element" style="font-size: 13px;">
                                {{ element.FECHACADUCIDAD }}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsRepdo"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsRepdo;"></tr>
                    </table>
                    <mat-paginator #paginator [length]="total4" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado4($event)">
                    </mat-paginator>
                </ng-container>
            </div>

            <!-- Representados -->
            <mat-card-header>
                <h3 style="margin: 0 0 15px;" class="verde-cdmx">Representado:</h3>
            </mat-card-header>
            <div class="col-md-12">
                <ng-container>
                    <div style="padding: 30px; text-align: center;" *ngIf="loadingRepresentado">
                        <mat-spinner style="margin:0 auto;"></mat-spinner>
                        <p>Cargando...</p>
                    </div>
                    <div class="alert alert-info" *ngIf="!loadingRepresentado && dataSource5.length == 0">
                        No hay representantes asociados.
                    </div> 
                    <table mat-table [dataSource]="dataPaginate5" *ngIf="!loadingRepresentado && dataSource5.length > 0" width="100%">
                        <ng-container matColumnDef="representacion">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="15%" style="font-size: 13px;"> Tipo Dirección </th>
                            <td mat-cell *matCellDef="let element" style="font-size: 13px;">
                                {{ element.APELLIDOPATERNO }} {{ element.APELLIDOMATERNO }} {{ element.NOMBRE }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="texto">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="70%" style="font-size: 13px;"> Texto </th>
                            <td mat-cell *matCellDef="let element" style="font-size: 13px;">
                                {{ element.TEXTOREPRESENTACION }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="caducidad" style="font-size: 13px;">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="15%" style="font-size: 13px;"> Caducidad </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.FECHACADUCIDAD }}
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsRepdo"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsRepdo;"></tr>
                    </table>
                    <mat-paginator #paginator [length]="total5" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado5($event)">
                    </mat-paginator>
                </ng-container>
                <mat-card-content *ngIf="Auditor">
                    <button mat-icon-button type="button" color="primary" aria-label="Eliminar" matTooltip="Eliminar" (click)="historialRepresentacion()" *ngIf="!loadingRepresentado">
                        <b>Historial Representaciones</b>
                    </button>
                </mat-card-content><br>
            </div>

        </div>
      

    </ng-container>

</mat-card>
