<div class="row">
    <div class="col-md-10 offset-md-1">

        <!-- Datos del Notario -->
        <h3 style="margin: 0 0 15px 0;" class="verde-cdmx">Datos del Notario:</h3>
        <div style="padding: 30px; text-align: center;" *ngIf="loading">
            <mat-spinner style="margin:0 auto;"></mat-spinner>
            <p>Cargando...</p>
        </div>
        <br>

        <!-- Datos Generales -->
        <h3 style="margin: 30px 0 15px 0;" class="verde-cdmx">Datos Generales:</h3>
        <ng-container *ngIf="!loading">
            <form [formGroup]="personaFormGroup">
                <div class="row">
                    <!-- <div *ngIf="!loading" class="col-md-12">
                        <mat-form-field appearance="fill">
                            <mat-label>Tipo de persona:</mat-label>
                            <mat-select [(ngModel)]="datosGenerales.tipoPersona" (selectionChange)="actualizaPersona($event.value)">
                                <mat-option value="F">Fisica</mat-option>
                                <mat-option value="M">Moral</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div><br><br> -->
                    <div *ngIf="!loading" class="col-md-4">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>No. Notario *</mat-label>
                            <input matInput  formControlName="no_notario" placeholder="Ingrese No. Notario" [(ngModel)]="datosNotario.no_notario" maxlength="10"> 
                            <mat-error *ngIf="personaFormGroup.controls.no_notario.errors?.required">Requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div *ngIf="!loading" class="col-md-4">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Estado:</mat-label>
                            <mat-select #estado [(ngModel)]="datosNotario.estado" formControlName="estado">
                                <mat-option *ngFor="let estado of estados" [value]="estado.CODESTADO">
                                    {{ estado.ESTADO }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                        <!-- Actualizar -->
                        <div class="col-md-4" style="margin-top: 10px;" *ngIf="!loading">
                            <div class="d-flex flex-row-reverse" style="text-align: center;">
                                <button mat-stroked-button class="boton-n-representacion" color="primary" aria-label="Guardar" style="margin: auto;" (click)="actualizarDatosNotario()">
                                    Actualizar <mat-icon style="display: inherit; width: 15px;">update</mat-icon>
                                </button>
                            </div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre" placeholder="Ingrese Nombre" [(ngModel)]="datosGenerales.nombre" maxlength="250">
                            <mat-error *ngIf="personaFormGroup.controls.nombre.errors?.required">Requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput formControlName="apellidopaterno" placeholder="Ingrese Apellido Paterno" [(ngModel)]="datosGenerales.apellido_paterno" maxlength="250">
                            <mat-error *ngIf="personaFormGroup.controls.apellidopaterno.errors?.required">Requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput formControlName="apellidomaterno" placeholder="Ingrese Apellido Materno" [(ngModel)]="datosGenerales.apellido_materno" maxlength="250">
                            <mat-error *ngIf="personaFormGroup.controls.apellidomaterno.errors?.required">Requerido</mat-error>
                        </mat-form-field>
                    </div> 
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>RFC*</mat-label>
                            <input matInput formControlName="rfc" onkeyup="this.value = this.value.toUpperCase();" placeholder="Ingrese RFC" [(ngModel)]="datosGenerales.rfc" (keyup)="changeRequired()" [required]="isRequired" pattern="^([A-ZÑ&]{4})?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$" maxlength="13">
                            <mat-error *ngIf="personaFormGroup.controls.rfc.errors?.required">Requerido</mat-error>
                            <mat-error *ngIf="personaFormGroup.controls.rfc.errors?.pattern">El campo RFC debe contener 4 letras mayúsculas, 6 números y 3 alfanuméricos de la homoclave.</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>CURP*</mat-label>
                            <input matInput formControlName="curp" onkeyup="this.value = this.value.toUpperCase();" placeholder="Ingrese CURP" [(ngModel)]="datosGenerales.curp" (keyup)="changeRequired()" [required]="isRequired" pattern="^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$" maxlength="18">
                            <mat-error *ngIf="personaFormGroup.controls.curp.errors?.required">Requerido</mat-error>
                            <mat-error *ngIf="personaFormGroup.controls.curp.errors?.pattern">CURP no valido</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>INE</mat-label>
                            <input matInput formControlName="ine" placeholder="Ingrese INE" [(ngModel)]="datosGenerales.ine" maxlength="250">
                            <mat-error *ngIf="personaFormGroup.controls.ine.errors?.required">Requerido</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Otro Documento:</mat-label>
                            <mat-select #otro_documento formControlName="identificacion" [(ngModel)]="datosGenerales.otro_documento" (ngModelChange)="otroDocumento()" [class.spinner]="loadingDocumentosIdentificativos">
                                <mat-option *ngFor="let documento of documentos" [value]="documento.IDDOCIDENTIF">
                                    {{ documento.DESCRIPCION }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Número Documento</mat-label>
                            <input matInput formControlName="idedato" #numero_documento [(ngModel)]="datosGenerales.numero_documento" [disabled]="datosGenerales.otro_documento == '' || datosGenerales.otro_documento == null" placeholder="Ingrese Número documento" maxlength="250">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Fecha Nacimiento</mat-label>
                            <input matInput formControlName="fechaNacimiento" [matDatepicker]="picknacimiento" [(ngModel)]="datosGenerales.fecha_nacimiento" placeholder="Ingrese Fecha Nacimiento" (dateChange)="fechaTope()" readonly>
                            <mat-datepicker-toggle matSuffix [for]="picknacimiento"></mat-datepicker-toggle>
                            <mat-datepicker #picknacimiento></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Fecha Defunción</mat-label>
                            <input matInput formControlName="fechaDefuncion" [matDatepicker]="pickdefuncion" [(ngModel)]="datosGenerales.fecha_defuncion" placeholder="Ingrese Fecha Defunción" [min]="minDate" readonly>
                            <mat-datepicker-toggle matSuffix [for]="pickdefuncion"></mat-datepicker-toggle>
                            <mat-datepicker #pickdefuncion></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Celular</mat-label>
                            <input matInput formControlName="celular" placeholder="Ingrese Celular" [(ngModel)]="datosGenerales.celular" maxlength="10">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>E-Mail</mat-label>
                            <input matInput formControlName="email" placeholder="Ingrese E-mail" [(ngModel)]="datosGenerales.email" style="text-transform: none!important;" maxlength="250">
                            <mat-error *ngIf="personaFormGroup.hasError('email', 'email') && personaFormGroup.get('email').touched">Correo invalido</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </ng-container>
        <!-- <ng-container *ngIf="datosGenerales.tipoPersona == 'M'  && !loading">
            <form [formGroup]="moralFormGroup">
                <div class="row">
                    <mat-form-field class="col-12" appearance="outline">
                        <mat-label>Nombre:</mat-label>
                        <input matInput formControlName="nombre_moral" [(ngModel)]="datosGenerales.nombre_moral">
                        <mat-error *ngIf="moralFormGroup.controls.nombre_moral.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6" appearance="outline">
                        <mat-label>RFC:</mat-label>
                        <input matInput formControlName="rfc" [(ngModel)]="datosGenerales.rfc" pattern="^([A-ZÑ&]{3})?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$" [required]="isRequired" onkeyup="this.value = this.value.toUpperCase();">
                        <mat-error *ngIf="moralFormGroup.controls.rfc.errors?.required">Requerido</mat-error>
                        <mat-error *ngIf="moralFormGroup.controls.rfc.errors?.pattern">El campo RFC debe contener 3 letras mayúsculas, 6 números y 3 alfanuméricos de la homoclave.</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-6" appearance="outline">
                        <mat-label>Act. preponderante:</mat-label>
                        <input matInput formControlName="actPreponderante" [(ngModel)]="datosGenerales.actPreponderante">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6" appearance="fill">
                        <mat-label>Tipo de persona moral</mat-label>
                        <mat-select formControlName="idTipoPersonaMoral">
                            <mat-option value=""></mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-6" appearance="fill">
                        <mat-label>Fecha de inicio de operación:</mat-label>
                        <input matInput readonly formControlName="fechaInicioOperacion" [matDatepicker]="pickfechaInicioOperacion" [(ngModel)]="datosGenerales.fechaInicioOperacion">
                        <mat-datepicker-toggle matSuffix [for]="pickfechaInicioOperacion"></mat-datepicker-toggle>
                        <mat-datepicker #pickfechaInicioOperacion></mat-datepicker>
                    </mat-form-field>                            
                </div>
                <div class="row">
                    <mat-form-field class="col-6" appearance="fill">
                        <mat-label>Motivo del cambio de situación</mat-label>
                        <mat-select formControlName="idMotivo" >
                            <mat-option value=""></mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-6" appearance="fill">
                        <mat-label>Fecha de cambio de situación:</mat-label>
                        <input matInput readonly formControlName="fechaCambio" [matDatepicker]="pickfechaCambio" [(ngModel)]="datosGenerales.fechaCambio">
                        <mat-datepicker-toggle matSuffix [for]="pickfechaCambio"></mat-datepicker-toggle>
                        <mat-datepicker #pickfechaCambio></mat-datepicker>
                    </mat-form-field>                            
                </div>
            </form>
        </ng-container> -->
                <!-- Historial y Actualizar -->
                <div class="row">
                    <div class="col-md-5">
                        <!-- <div class="d-flex flex-row-reverse" style="float: left;">
                            <button mat-stroked-button class="boton-n-representacion" color="primary" aria-label="Historial" style="margin: auto; font-size: 11px;" (click)="viewHistoricoDatosPersonales(this.idNotario)">
                                Historial Datos Generales <mat-icon style="display: inherit; width: 11px;">list</mat-icon>
                            </button>
                        </div> -->
                    </div>
                    <div class="col-md-4 offset-md-3" *ngIf="actCambioPersona">
                        <div class="d-flex flex-row-reverse">
                            <button mat-stroked-button class="boton-n-representacion" color="primary" aria-label="Actualizar" (click)="actualizarDatosGenerales()" matTooltip="Actualizar" [disabled]="personaFormGroup.invalid">
                                Actualizar <mat-icon style="display: inherit; width: 15px;">update</mat-icon>
                            </button>
                        </div>
                    </div>
                    <!-- <div class="col-md-4 offset-md-3" *ngIf="!actCambioPersona">
                        <div class="d-flex flex-row-reverse">
                            <button mat-stroked-button class="boton-n-representacion" color="primary" aria-label="Actualizar tipo persona" matTooltip="Actualizar tipo persona" (click)="confirmaCambio()" *ngIf="!loading" [disabled]="(datosGenerales.tipoPersona == 'F' ? personaFormGroup.invalid : moralFormGroup.invalid)">
                                Actualizar <mat-icon style="display: inherit; width: 15px;">update</mat-icon>
                            </button>
                        </div>
                    </div> -->
                </div>



        <!-- Datos de Contacto -->
        <h3 class="verde-cdmx" style="margin: 45px 0 15px 0;">Datos de contacto:</h3>

        <div class="row" style="margin-bottom: 15px;">
            <div class="col-md-4">
                <button mat-stroked-button aria-label="Domicilios" style="background-color: #00A447; color: #FFF!important;" (click)="addDomicilio()">
                    Domicilios <mat-icon style="display: inherit; width: 15px;">add</mat-icon>
                </button>
            </div>
        </div>



        <div class="row">
            <div class="col-md-12">
                <ng-container>
                    <div style="padding: 30px; text-align: center;" *ngIf="loadingDomicilios">
                        <mat-spinner style="margin:0 auto;"></mat-spinner>
                        <p>Cargando...</p>
                    </div>
                    <div class="alert alert-info" *ngIf="!loadingDomicilios && dataSource1.length == 0">
                        No hay direcciones asociadas.
                    </div> 
                    <table mat-table [dataSource]="dataSource1" *ngIf="!loadingDomicilios && dataSource1.length > 0" width="100%">
                        
                        <ng-container matColumnDef="direccion">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="70%"> Dirección </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.ABREVIATURAVIA }}, {{ element.VIA }} {{ element.NUMEROEXTERIOR }}, Col: {{ element.COLONIA}}
                                C.P. {{ element.CODIGOPOSTAL}}, {{ element.DELEGACION}} ({{ element.ESTADO }})
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="historial">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="15%"> Historial </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button type="button" color="primary" aria-label="Historial" matTooltip="Historial" (click)="viewHistoricoDomicilio(element.IDDIRECCION)">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="editar">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="15%"> Editar </th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-icon-button type="button" color="primary" aria-label="Editar" matTooltip="Editar" (click)="editDomicilio(element.IDDIRECCION)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumnsDom"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsDom;"></tr>
                    </table>
                    <mat-paginator #paginator [length]="total1" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado1($event)">
                    </mat-paginator>
                </ng-container>
            </div>
        </div>


    </div>
</div>
