<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="titulo-cdmx">Búsqueda de notarios</h1>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput #apellido_paterno [(ngModel)]="filtros.apellido_paterno" placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput #apellido_materno [(ngModel)]="filtros.apellido_materno" placeholder="Placeholder">
                </mat-form-field>
            </div> 
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Nombre</mat-label>
                    <input matInput #nombre [(ngModel)]="filtros.nombre" placeholder="Placeholder">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>RFC*</mat-label>
                    <input matInput #rfc [(ngModel)]="filtros.rfc" placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>CURP*</mat-label>
                    <input matInput #curp [(ngModel)]="filtros.curp" placeholder="Placeholder">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>INE</mat-label>
                    <input matInput #ine [(ngModel)]="filtros.ine" placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Seleccione</mat-label>
                    <mat-select #otro_documento [(ngModel)]="filtros.otro_documento">
                      <mat-option>Ninguna</mat-option>
                      <mat-option value="option1">Cartilla Militar</mat-option>
                      <mat-option value="option2">Pasaporte</mat-option>
                      <mat-option value="option3">Cédula Profesional</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <!-- <mat-label>INE</mat-label> -->
                    <input matInput #numero_documento [(ngModel)]="filtros.numero_documento" placeholder="Placeholder">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>No. Notario</mat-label>
                    <input matInput #no_notario [(ngModel)]="filtros.no_notario" placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Estado</mat-label>
                    <mat-select #estado [(ngModel)]="filtros.estado">
                      <mat-option>Ninguna</mat-option>
                      <mat-option value="option1">Ciudad de Méxio</mat-option>
                      <mat-option value="option2">Estado de México</mat-option>
                      <mat-option value="option3">Guerrero</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 offset-md-10">
                <div class="d-flex flex-row-reverse">
                    <button mat-stroked-button class="boton-n-representacion" color="primary" aria-label="Busqueda" matTooltip="Buscar" (click)="getData(true)">
                        Buscar
                    </button>
                </div>
            </div>
        </div>



        <h3>Lista de notarios</h3>
    
    </div>
</div>
