input,textarea{text-transform: uppercase;}

.mat-card-header .mat-card-title {
    color: #43A047;
    font-size: 20px;
    margin: 5% 0 5% 0;
}

.borde {
    border: 2px solid rgb(155, 154, 154);
    padding-left: 10px;
    padding-right: 10px;
}

.mat-error {
    font-size: 8px;
}

/* ::ng-deep .notario2 {
    background-color: #00A447!important;
    color: #FFF !important;
} */