<mat-card>
    <div class="borde">
        <h1 class="titulo-cdmx" style="margin-top: 15px;">Búsqueda de peritos (Edición)</h1>
        <!-- <mat-card-header>
            <mat-card-title>Búsqueda de peritos (Edición)</mat-card-title>
        </mat-card-header> -->
        <mat-card-content>
                <!-- Búsqueda por nombre -->
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                        <mat-form-field appearance="outline" class="col-5">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput [(ngModel)]="appaterno" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(false)" (keydown.enter)="getPerito()" placeholder="Ingrese Apellido Paterno" style="text-transform: uppercase;" maxlength="250">
                            <mat-error></mat-error>
                        </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                        <mat-form-field appearance="outline" class="col-5">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput [(ngModel)]="apmaterno" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(false)" (keydown.enter)="getPerito()" placeholder="Ingrese Apellido Materno" style="text-transform: uppercase;" maxlength="250">
                            <mat-error></mat-error>
                        </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                        <mat-form-field appearance="outline" class="col-5">
                            <mat-label>Nombre</mat-label>
                            <input matInput [(ngModel)]="nombre" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(false)" (keydown.enter)="getPerito()" placeholder="Ingrese Nombre" style="text-transform: uppercase;" maxlength="250">
                            <mat-error></mat-error>
                        </mat-form-field>
                </div>
                <!-- Fin de nombre -->

                <!-- Búsqueda por RFC CRUP -->
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                        <mat-form-field appearance="outline" class="col-5">
                            <mat-label>RFC</mat-label>
                            <input matInput [(ngModel)]="rfc" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)" (keydown.enter)="getPerito()" placeholder="Ingrese RFC" style="text-transform: uppercase;" maxlength="13">
                            <mat-error></mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-5">
                            <mat-label>CURP</mat-label>
                            <input matInput [(ngModel)]="curp" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)" (keydown.enter)="getPerito()" placeholder="Ingrese CURP" style="text-transform: uppercase;" maxlength="18">
                            <mat-error></mat-error>
                        </mat-form-field>
                </div>
                <!-- Fin de RFC CRUP -->

                <!-- Búsqueda por OTROS -->
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                        <mat-form-field appearance="outline" class="col-5">
                            <mat-label>INE</mat-label>
                            <input matInput [(ngModel)]="ine" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)" (keydown.enter)="getPerito()" placeholder="Ingrese INE" style="text-transform: uppercase;" maxlength="250">
                            <mat-error></mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-5">
                            <mat-label>Registro</mat-label>
                            <input matInput [(ngModel)]="registro" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)" (keydown.enter)="getPerito()" placeholder="Ingrese Registro" style="text-transform: uppercase;" maxlength="250">
                            <mat-error></mat-error>
                        </mat-form-field>                    
                </div>
                <!-- Fin de OTROS -->

                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                    <mat-form-field appearance="fill" class="col-5">
                        <mat-label>Identificación</mat-label>
                        <mat-select [(ngModel)]="identificacion" [required]="true" (ngModelChange)="validateSearch();clearInputsIdentNoIdent(true)" [class.spinner]="loadingDocumentosIdentificativos">
                            <mat-option *ngFor="let documento of documentos" [value]="documento.IDDOCIDENTIF">
                                {{ documento.DESCRIPCION }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-5">
                        <mat-label></mat-label>
                        <input matInput [(ngModel)]="idedato" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)" (keydown.enter)="getPerito()" style="text-transform: uppercase;">
                    </mat-form-field>
                </div>

            <div class="row">
                <div class="col-md-2 offset-md-5">
                    <div class="d-flex flex-row-reverse">
                        
                        <button mat-icon-button color="primary" aria-label="Limpiar Filtros" matTooltip="Limpiar Filtros" (click)="clean()">
                            <mat-icon>clear</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" aria-label="Busqueda" matTooltip="Buscar" (click)="getPerito()" [disabled]="!search">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </div>
            </div>

        
            <br>
            <ng-container>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div style="padding: 30px; text-align: center;" *ngIf="loading">
                            <mat-spinner style="margin:0 auto;"></mat-spinner>
                            <p>Cargando...</p>
                        </div>
                        <div class="alert alert-info" *ngIf="dataSource.length == 0 && !loading">
                            No hay Peritos para el filtro seleccionado
                        </div> 
                        <table mat-table [dataSource]="dataPaginate" *ngIf="!loading && dataSource.length > 0">
                            <ng-container matColumnDef="registro">
                                <th mat-header-cell *matHeaderCellDef class="verde-cdmx" style="font-weight: 700; font-size: 14px;"> Registro </th>
                                <td mat-cell *matCellDef="let element"> {{(element.registro) ?  element.registro : element.REGISTRO}}</td>
                            </ng-container>
                            <ng-container matColumnDef="nombre">
                                <th mat-header-cell *matHeaderCellDef class="verde-cdmx" style="padding-left: 8px; font-weight: 700; font-size: 14px;"> Nombre </th>
                                <td mat-cell *matCellDef="let element" style="padding-left: 8px;"> 
                                    {{ (element.nombre) ? element.nombre : element.NOMBRE}}
                                    {{ (element.apellidopaterno) ? element.apellidopaterno : element.APELLIDOPATERNO }}
                                    {{ (element.apellidomaterno) ? element.apellidomaterno : element.APELLIDOMATERNO }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="datos">
                                <th mat-header-cell *matHeaderCellDef class="verde-cdmx" style="padding-left: 8px; font-weight: 700; font-size: 14px;"> Datos Identificativos </th>
                                <td mat-cell *matCellDef="let element" style="padding-left: 8px;"> 
                                    RFC: {{ (element.rfc) ? element.rfc : element.RFC }}<br>
                                    CURP: {{ (element.curp) ? element.curp : element.CURP }} <br>
                                    INE: {{ (element.ife) ? element.ife : element.IFE }}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef class="verde-cdmx" style="text-align: center; font-weight: 700; font-size: 14px;"> Seleccionar </th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <button mat-stroked-button color="primary" aria-label="Ver Perito" matTooltip="Ver Perito" [routerLink]="['/main/editar-peritos', (element.idperito) ? element.idperito : element.IDPERITO]">
                                        Ver
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator #paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[pageSize]" [showFirstLastButtons]="true" (page)="paginado($event)">
                        </mat-paginator>
                    </div>
                </div>
            </ng-container>
        </mat-card-content>
    </div>
</mat-card>