<mat-card>
    <div class="borde">
        <h1 class="titulo-cdmx" style="margin-top: 15px; margin-bottom: 20px;">Búsqueda de sociedad (Edición)</h1>
        <!-- <mat-card-header>
            <mat-card-title>Búsqueda de sociedad (Edición)</mat-card-title>
        </mat-card-header> -->
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <mat-card-content>
                        <!-- Búsqueda por nombre -->
                        <div class="row">
                            <mat-form-field appearance="outline" class="col-12">
                                <mat-label>Razón Social</mat-label>
                                <input matInput [(ngModel)]="razonSocial" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(false)" (keydown.enter)="getSociedad()" placeholder="Ingrese Razón Social" style="text-transform: uppercase;">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div>
                        
                        <!-- Fin de nombre -->

                        <!-- Búsqueda por RFC CRUP -->
                        <div class="row">
                            <mat-form-field appearance="outline" class="col-6">
                                <mat-label>RFC</mat-label>
                                <input matInput [(ngModel)]="rfc" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)" (keydown.enter)="getSociedad()" placeholder="Ingrese RFC" style="text-transform: uppercase;" maxlength="12">
                                <mat-error></mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="col-6">
                                <mat-label>Registro</mat-label>
                                <input matInput [(ngModel)]="registro" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)" (keydown.enter)="getSociedad()" placeholder="Ingrese Registro" style="text-transform: uppercase;">
                                <mat-error></mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Fin de RFC CRUP -->

                    <div class="row">
                        <div class="col-md-2 offset-md-5">
                            <div class="d-flex flex-row-reverse">
                                <button mat-icon-button color="primary" aria-label="Limpiar Filtros" matTooltip="Limpiar Filtros" (click)="clean()">
                                    <mat-icon>clear</mat-icon>
                                </button>
                                <button mat-icon-button color="primary" aria-label="Busqueda" matTooltip="Buscar" (click)="getSociedad()" [disabled]="!search">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                
                    <br>
                    <ng-container>
                        <div style="padding: 30px; text-align: center;" *ngIf="loading">
                            <mat-spinner style="margin:0 auto;"></mat-spinner>
                            <p>Cargando...</p>
                        </div>
                        <div class="alert alert-info" *ngIf="dataSource.length == 0 && !loading">
                            No hay registros para el filtro seleccionado
                        </div> 
                        <table mat-table [dataSource]="dataPaginate" *ngIf="!loading && dataSource.length > 0">
                            <ng-container matColumnDef="razon">
                                <th mat-header-cell *matHeaderCellDef class="verde-cdmx" style="font-size: 15px; font-weight: 600;"> Nombre </th>
                                <td mat-cell *matCellDef="let element">{{ element.RAZONSOCIAL }}</td>
                            </ng-container>
                            <ng-container matColumnDef="registro">
                                <th mat-header-cell *matHeaderCellDef class="verde-cdmx" style="padding-left: 8px!important; font-size: 15px; font-weight: 600;"> Registro </th>
                                <td mat-cell *matCellDef="let element" style="padding-left: 8px!important;"> {{ element.REGISTRO }}</td>
                            </ng-container>
                            <ng-container matColumnDef="rfc">
                                <th mat-header-cell *matHeaderCellDef class="verde-cdmx" style="padding-left: 8px!important; font-size: 15px; font-weight: 600;"> RFC </th>
                                <td mat-cell *matCellDef="let element" style="padding-left: 8px!important;">{{ element.RFC }}</td>
                            </ng-container>
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef class="verde-cdmx" style="text-align: center; font-size: 15px; font-weight: 600;"> Seleccionar </th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <button mat-stroked-button color="primary" aria-label="Editar Sociedad" matTooltip="Editar Sociedad" [routerLink]="['/main/editar-sociedad', element.IDSOCIEDAD]">
                                        Editar
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator #paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[pageSize]" [showFirstLastButtons]="true" (page)="paginado($event)">
                        </mat-paginator>
                    </ng-container>
                </mat-card-content>
            </div>
        </div>
    </div>
</mat-card>