<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="titulo-cdmx">Alta Notario</h1>


        <h3>Datos Generales:</h3>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>No. Notario*</mat-label>
                    <input matInput placeholder="Placeholder">
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Estado*</mat-label>
                    <mat-select>
                      <mat-option>Ninguna</mat-option>
                      <mat-option value="option1">Ciudad de Méxio</mat-option>
                      <mat-option value="option2">Estado de México</mat-option>
                      <mat-option value="option3">Guerrero</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Nombre*</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Apellido Paterno*</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </div> 
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>RFC*</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>CURP*</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>INE</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Seleccione</mat-label>
                    <mat-select>
                      <mat-option>Ninguna</mat-option>
                      <mat-option value="option1">Cartilla Militar</mat-option>
                      <mat-option value="option2">Pasaporte</mat-option>
                      <mat-option value="option3">Cédula Profesional</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <!-- <mat-label>INE</mat-label> -->
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Fecha Nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Fecha Defunción</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Celular</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>E-Mail</mat-label>
                    <input matInput placeholder="Placeholder">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2 offset-md-10">
                <div class="d-flex flex-row-reverse">
                    <button mat-stroked-button class="boton-n-representacion" color="primary" aria-label="Guardar">
                        Guardar
                    </button>
                </div>
            </div>
            <!-- <div class="col-md-2">
                <div class="d-flex flex-row-reverse">
                    <button mat-stroked-button class="boton-n-representacion" color="warn" aria-label="Cancelar">
                        Cancelar
                    </button>
                </div>
            </div> -->
        </div>



        

    </div>
</div>


