<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="titulo-cdmx">Alta de Notarios</h1>

        <div class="row" style="margin-bottom: 30px;">
            <div class="col-md-4">
                <div class="d-flex initial">
                    <button mat-stroked-button class="boton-n-representacion" color="primary" aria-label="Guardar" (click)="searchNotario()">
                        Buscar Notario <mat-icon style="display: inherit; width: 15px;">search</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <h3 class="verde-cdmx" style="margin: 0 0 15px;">Datos Generales:</h3>


        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>No. Notario</mat-label>
                    <input matInput #no_notario [(ngModel)]="filtros.no_notario" placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Estado:</mat-label>
                    <mat-select #estado [(ngModel)]="filtros.estado">
                        <mat-option value="">Seleccione...</mat-option>
                        <mat-option *ngFor="let estado of estados" [value]="estado.CODESTADO">
                            {{ estado.ESTADO }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Nombre</mat-label>
                    <input matInput #nombre [(ngModel)]="filtros.nombre" placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput #apellido_paterno [(ngModel)]="filtros.apellido_paterno" placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput #apellido_materno [(ngModel)]="filtros.apellido_materno" placeholder="Placeholder">
                </mat-form-field>
            </div> 
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>RFC*</mat-label>
                    <input matInput #rfc [(ngModel)]="filtros.rfc" placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>CURP*</mat-label>
                    <input matInput #curp [(ngModel)]="filtros.curp" placeholder="Placeholder">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>INE</mat-label>
                    <input matInput #ine [(ngModel)]="filtros.ine" placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Otro Documento:</mat-label>
                    <mat-select #otro_documento [(ngModel)]="filtros.otro_documento">
                        <mat-option value="">Seleccione...</mat-option>
                        <mat-option *ngFor="let documento of documentos" [value]="documento.IDDOCIDENTIF">
                            {{ documento.DESCRIPCION }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Número Documento</mat-label>
                    <input matInput #numero_documento [(ngModel)]="filtros.numero_documento" placeholder="Número documento">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Fecha Nacimiento</mat-label>
                    <input matInput [matDatepicker]="fechaNacimiento" [(ngModel)]="filtros.fecha_nacimiento">
                    <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
                    <mat-datepicker #fechaNacimiento></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="fill" style="width: 100%;">
                    <mat-label>Fecha Defunción</mat-label>
                    <input matInput [matDatepicker]="fechaDefuncion" [(ngModel)]="filtros.fecha_defuncion">
                    <mat-datepicker-toggle matSuffix [for]="fechaDefuncion"></mat-datepicker-toggle>
                    <mat-datepicker #fechaDefuncion></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Celular</mat-label>
                    <input matInput #celular [(ngModel)]="filtros.celular" placeholder="Placeholder">
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>E-Mail</mat-label>
                    <input matInput #email [(ngModel)]="filtros.email" placeholder="Placeholder">
                </mat-form-field>
            </div>
        </div>

                <!-- Guardar -->
                <div class="row">
                    <div class="col-md-3 offset-md-6">
                        <div class="d-flex flex-row-reverse">
                            <button mat-stroked-button class="boton-n-representacion" color="primary" aria-label="Guardar" (click)="guardarNotario()">
                                Guardar <mat-icon style="display: inherit; width: 15px;">save</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="d-flex flex-row-reverse">
                            <button mat-stroked-button class="boton-n-representacion" color="warn" aria-label="Cancelar" (click)="clean()">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
    </div>
</div>


