<mat-dialog-actions align="end">
    <button style="border: 0px; background-color: transparent; cursor: pointer;" mat-dialog-close><mat-icon style="color: red;">clear</mat-icon></button>
</mat-dialog-actions>

<h2 class="verde-cdmx" style="margin: 10px 0 25px 0;">Búqueda de personas</h2>
<div mat-dialog-content>
    <!-- <mat-card-content (keydown.enter)="getData()"> -->

        <!-- Búsqueda por Datos Perosnales -->
        <form [formGroup]="notPersonaFormGroup" (keydown.enter)="getData()">
        
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Apellido Paterno</mat-label>
                        <input matInput formControlName="apellido_paterno" [(ngModel)]="apellido_paterno" placeholder="Ingrese apellido paterno" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(false)" maxlength="250">
                        <mat-error *ngIf="notPersonaFormGroup.controls.apellido_paterno.errors?.pattern">Existe un espacio al inicio y/o final de la cadena (cadena mínima de 3 caracteres)</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Apellido Materno</mat-label>
                        <input matInput formControlName="apellido_materno" [(ngModel)]="apellido_materno" placeholder="Ingrese el apellido materno" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(false)" maxlength="250">
                        <mat-error *ngIf="notPersonaFormGroup.controls.apellido_materno.errors?.pattern">Existe un espacio al inicio y/o final de la cadena (cadena mínima de 3 caracteres)</mat-error>
                    </mat-form-field>
                </div> 
                <div class="col-md-4">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre" [(ngModel)]="nombre" placeholder="Ingrese el nombre" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(false)" maxlength="250">
                        <mat-error *ngIf="notPersonaFormGroup.controls.nombre.errors?.pattern">Existe un espacio al inicio y/o final de la cadena (cadena mínima de 3 caracteres)</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!-- Fin de Datos Personales -->
    
    
            <!-- Búsqueda por Datos Identificativos -->
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>RFC*</mat-label>
                        <input matInput formControlName="rfc" [(ngModel)]="rfc" placeholder="Ingrese el RFC" (ngModelChange)="validateSearch()" pattern="^([A-Z,Ñ,&]{4}([0-9]{2})(0[1-9]|1[0-2])(0[1-9]|1[0-9]|2[0-9]|3[0-1])[A-Z|\d]{3})$" (keyup)="clearInputsIdentNoIdent(true)" maxlength="13">
                        <mat-error *ngIf="notPersonaFormGroup.controls.rfc.errors?.pattern">El campo RFC debe contener 4 letras mayúsculas, 6 números y 3 alfanuméricos de la homoclave.</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>CURP*</mat-label>
                        <input matInput formControlName="curp" [(ngModel)]="curp" placeholder="Ingrese el CURP" (ngModelChange)="validateSearch()" pattern="^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$" (keyup)="clearInputsIdentNoIdent(true)" maxlength="18">
                        <mat-error *ngIf="notPersonaFormGroup.controls.curp.errors?.pattern">El campo CURP debe contener 4 letras mayúsculas, 6 números, H o M, 5 letras mayúsculas, 1 alfanumérico y 1 número.</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>INE</mat-label>
                        <input matInput formControlName="ine" [(ngModel)]="ine" pattern="[a-zA-Z]{6}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])(?:0[1-9]|[12]\d|3[0123])[hmHM]{1}\d{3}" placeholder="Ingrese INE" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)" maxlength="250">
                        <mat-error *ngIf="notPersonaFormGroup.controls.ine.errors?.pattern">El campo INE debe contener 6 letras mayúsculas, 8 números, H o M y 3 números.</mat-error>
                    </mat-form-field>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-4">
                    <mat-form-field appearance="fill" style="width: 100%;">
                        <mat-label>Otro Documento:</mat-label>
                        <mat-select [(ngModel)]="otro_documento" (selectionChange)="seleccionaDoctoD($event)">
                            <mat-option *ngFor="let documento of documentos" [value]="documento.IDDOCIDENTIF">
                                {{ documento.DESCRIPCION }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <!-- <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>Número Documento</mat-label>
                        <input matInput [(ngModel)]="numero_documento" placeholder="Número documento" maxlength="250">
                    </mat-form-field> -->

                    <mat-form-field appearance="outline" style="width: 100%;" *ngIf="selectCedula" class="col-3">
                        <mat-label>Número Documento</mat-label>                        
                            <input matInput #numero_documento formControlName="numero_documento" [(ngModel)]="filtros.numero_documento" pattern="\d{8}" placeholder="Ingrese número documento" maxlength="8">
                            <mat-error *ngIf="notPersonaFormGroup.controls.numero_documento.errors?.pattern">El número de cédula debe contener 8 dígitos en caso de tener 7 debe incluir un "0"</mat-error>                        
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 100%;" *ngIf="selectPasaporte" class="col-3">
                        <mat-label>Número Documento</mat-label>                        
                            <input matInput #numero_documento formControlName="numero_documento" [(ngModel)]="filtros.numero_documento" pattern="\d{1,8}" placeholder="Ingrese número documento" maxlength="8">
                            <mat-error *ngIf="notPersonaFormGroup.controls.numero_documento.errors?.pattern">El número del pasaporte no debe ser mayor a 8 dígitos</mat-error>                        
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 100%;" *ngIf="selectLicencia" class="col-3">
                        <mat-label>Número Documento</mat-label>                        
                            <input matInput #numero_documento formControlName="numero_documento" [(ngModel)]="filtros.numero_documento" pattern="^\S{10}" placeholder="Ingrese número documento" maxlength="10">
                            <mat-error *ngIf="notPersonaFormGroup.controls.numero_documento.errors?.pattern">Existe un espacio al inicio y/o final de la cadena o algún caracter invalido (*/-_|!¡¿?)</mat-error>                        
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width: 100%;" *ngIf="selectNSS" class="col-3">
                        <mat-label>Número Documento</mat-label>                        
                            <input matInput #numero_documento formControlName="numero_documento" [(ngModel)]="filtros.numero_documento" pattern="\d{11}" placeholder="Ingrese número documento" maxlength="11">
                            <mat-error *ngIf="notPersonaFormGroup.controls.numero_documento.errors?.pattern">El número de seguro social (NSS) debe contener 11 números</mat-error>                        
                    </mat-form-field>

                </div>
            </div>
            <!-- Fin de Identificativos -->
        
    
        <div class="row">
            <div class="col-md-2 offset-md-8" style="padding-left: 0px;">
                <div class="d-flex flex-row-reverse">
                    <button mat-stroked-button color="accent" aria-label="Limpiar Filtros" matTooltip="Limpiar Filtros" (click)="clean()">
                        Limpiar <mat-icon style="display: inherit; width: 15px;">delete</mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-md-2" style="padding-left: 0px;">
                <div class="d-flex flex-row-reverse">
                    <button mat-stroked-button color="primary" aria-label="Busqueda" matTooltip="Buscar" (click)="getData()" [disabled]="!search">
                        Buscar <mat-icon style="display: inherit; width: 15px;">search</mat-icon>
                    </button>
                </div>
            </div>
        </div>

    </form>    
    
        <h4 class="verde-cdmx" style="margin: 10px 0 25px 0;">Lista de notarios</h4>
    
            <!-- Table generado por la búsqueda -->
            <ng-container>
                <div style="padding: 30px; text-align: center;" *ngIf="loading">
                    <mat-spinner style="margin:0 auto;"></mat-spinner>
                    <p>Cargando...</p>
                </div>
                <div class="alert alert-info" *ngIf="dataSource.length == 0 && !loading">
                    No hay Notarios para el filtro seleccionado
                </div> 
                <table mat-table [dataSource]="dataPaginate" *ngIf="!loading && dataSource.length > 0">
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" style="width: 60%;"> Nombre </th>
                        <td mat-cell *matCellDef="let element" class="contenido-tabla-modal"> 
                            {{ (element.nombre) ? element.nombre : element.NOMBRE}}
                            {{ (element.apellidopaterno) ? element.apellidopaterno : element.APELLIDOPATERNO }}
                            {{ (element.apellidomaterno) ? element.apellidomaterno : element.APELLIDOMATERNO }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="datos_identificativos">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" style="width: 30%;"> Datos Identificativos </th>
                        <td mat-cell *matCellDef="let element" class="contenido-tabla-modal"> 
                            <b>RFC:</b> {{ (element.rfc) ? element.rfc : element.RFC }}<br>
                            <b>CURP:</b> {{ (element.curp) ? element.curp : element.CURP }} <br>
                            <b>INE:</b> {{ (element.ife) ? element.ife : element.CLAVEIFE }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="seleccionar">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" style="width: 10%;"> Seleccionar </th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;">
                            <mat-radio-group [(ngModel)]="notarioSeleccionado">
                                <mat-radio-button [value]="element" (change)="RegistroSelect(element)"></mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[pageSize]" [showFirstLastButtons]="true" (page)="paginado($event)">
                </mat-paginator>
            </ng-container>
    
    <!-- </mat-card-content> -->
</div>

<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" [disabled]="!notarioSeleccionado" [mat-dialog-close]="dataNotarioSeleccionado">Aceptar</button>
</mat-dialog-actions>