<style>
    input,textarea{text-transform: uppercase;}
</style>
<h1 mat-dialog-title class="verde-cdmx">Buscador Notarios</h1>
<div mat-dialog-content>
    <form #formDialog="ngForm">
        <div class="row">
            <mat-form-field appearance="fill" class="col-6">
                <mat-label>Búsqueda por:</mat-label>
                <mat-select [(value)]="tipoBusqueda" (selectionChange)="clean()">
                    <mat-option value="DatosIdentificativos">Datos Identificativos</mat-option>
                    <mat-option value="DatosPersonales">Datos Personales</mat-option>
                </mat-select>
            </mat-form-field>     
        </div>
        <ng-container *ngIf="tipoBusqueda == 'DatosIdentificativos'">
            <div class="row">
                <mat-form-field appearance="outline" class="col-6">
                    <mat-label>Número:</mat-label>
                    <input matInput [(ngModel)]="filtros.numnotario" name="numnotario">
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-6" style="margin-left: 0px!important;">
                    <mat-label>Estado:</mat-label>
                    <mat-select [(value)]="filtros.estado">
                        <mat-option *ngFor="let estado of estados" [value]="estado.CODESTADO">
                            {{ estado.ESTADO }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="col-6">
                    <mat-label>RFC:</mat-label>
                    <input matInput [(ngModel)]="filtros.rfc" name="rfc" onkeyup="this.value = this.value.toUpperCase();">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-6" style="margin-left: 0px!important;">
                    <mat-label>CURP:</mat-label>
                    <input matInput [(ngModel)]="filtros.curp" name="curp" onkeyup="this.value = this.value.toUpperCase();">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="col-6">
                    <mat-label>INE:</mat-label>
                    <input matInput [(ngModel)]="filtros.claveife" name="claveife">
                </mat-form-field>
            </div>
        </ng-container>
        <ng-container *ngIf="tipoBusqueda == 'DatosPersonales'">
            <div class="row">
                <mat-form-field appearance="outline" class="col-6">
                    <mat-label>Nombre:</mat-label>
                    <input matInput [(ngModel)]="filtros.nombre" name="nombre">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="col-6">
                    <mat-label>Apellido Paterno:</mat-label>
                    <input matInput [(ngModel)]="filtros.apellidoPaterno" name="apellidoPaterno">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-6" style="margin-left: 0px!important;">
                    <mat-label>Apellido Materno:</mat-label>
                    <input matInput [(ngModel)]="filtros.apellidoMaterno" name="apellidoMaterno">
                </mat-form-field>
            </div>
        </ng-container>
        <br>
        <div class="row">
            <div class="col-6">
                <h3 class="cdmx-color-accent">Resultado</h3>
            </div>
            <div class="col-6" align="end">
                <button mat-icon-button color="primary" aria-label="Buscar" matTooltip="Buscar" (click)="getDataNotarios()">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>
    </form>
    <ng-container *ngIf="isBusqueda">
        <div style="padding: 30px; text-align: center;" *ngIf="loading">
            <mat-spinner style="margin:0 auto;"></mat-spinner>
            <p>Cargando...</p>
        </div>
        <div class="alert alert-info" *ngIf="dataSource.length == 0 && !loading">
            No se encontraron datos.
        </div>
        <table mat-table [dataSource]="dataSource" *ngIf="dataSource.length > 0 && !loading">
            <ng-container matColumnDef="numero">
                <th mat-header-cell *matHeaderCellDef> Número </th>
                <td mat-cell *matCellDef="let element"> {{(element.NUMNOTARIO)}} </td>
            </ng-container>
            <ng-container matColumnDef="datos_personales">
                <th mat-header-cell *matHeaderCellDef> Datos Personales </th>
                <td mat-cell *matCellDef="let element"> {{element.NOMBRE}} {{(element.APELLIDOPATERNO) ? element.APELLIDOPATERNO : ''}} {{(element.APELLIDOMATERNO) ? element.APELLIDOMATERNO : ''}} </td>
            </ng-container>
            <ng-container matColumnDef="datos_identificativos">
                <th mat-header-cell *matHeaderCellDef> Datos Identificativos </th>
                <td mat-cell *matCellDef="let element"> {{(element.RFC) ? ( element.RFC) : ''}} {{(element.CURP) ? ( element.CURP) : ''}} {{(element.CLAVEIFE) ? (element.CLAVEIFE) : ''}} </td>
            </ng-container>
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef> Seleccionar </th>
                <td mat-cell *matCellDef="let element">
                    <mat-radio-group [(ngModel)]="optionNotario">
                        <mat-radio-button [value]="element" (change)="notarioSelected(element)"></mat-radio-button>
                    </mat-radio-group>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator #paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[pageSize]" (page)="paginado($event)">
        </mat-paginator>
    </ng-container>
</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-flat-button color="primary" [disabled]="!optionNotario" [mat-dialog-close]="notario">Aceptar</button>
</mat-dialog-actions>