<h1 mat-dialog-title>Detalle de la representación</h1>
<div mat-dialog-content>

    <div style="padding: 30px; text-align: center;" *ngIf="loadingH">
        <mat-spinner style="margin:0 auto;"></mat-spinner>
        <p>Cargando...</p>
    </div>

    <ng-container *ngIf="!loadingH">
        <br>
        <!-------------------------------- REPRESENTACIÓN ---------------------------------------------->
        <mat-card-header>
            <mat-card-title>Representante</mat-card-title>
        </mat-card-header>
        <ng-container *ngIf="tipoPersonaRep == 'F'">
                <div class="row">
                    <mat-form-field class="col-12">
                        <mat-label>Nombre:</mat-label>
                        <input matInput [(ngModel)]="nombreR" [readonly]="insUp">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>Apellido Paterno:</mat-label>
                        <input matInput [(ngModel)]="apaternoR" [readonly]="insUp">
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>Apellido Materno:</mat-label>
                        <input matInput [(ngModel)]="amaternoR" [readonly]="insUp">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>RFC:</mat-label>
                        <input matInput [(ngModel)]="rfcR" (keyup)="changeRequired('curp', 'rfc')" [readonly]="insUp">
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>CURP:</mat-label>
                        <input matInput [(ngModel)]="curpR" (keyup)="changeRequired('rfc', 'curp')" [readonly]="insUp">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>Clave INE:</mat-label>
                        <input matInput [(ngModel)]="ineR" [readonly]="insUp">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label></mat-label>
                        <mat-select [(ngModel)]="idDocIdentR" [disabled]="insUp">
                            <mat-option value="">Seleccionar</mat-option>
                            <mat-option value="1">Cédula profecional</mat-option>
                            <mat-option value="2">Pasaporte</mat-option>
                            <mat-option value="3">Licencia de conducir</mat-option>
                            <mat-option value="4">Número de seguro social</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label></mat-label>
                        <input matInput [(ngModel)]="docIdentR" [readonly]="insUp">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>Fecha Nacimiento:</mat-label>
                        <input matInput readonly [(ngModel)]="fechaNacimientoR" [matDatepicker]="pickfechaNacimiento" [disabled]="insUp">
                        <mat-datepicker-toggle matSuffix [for]="pickfechaNacimiento"></mat-datepicker-toggle>
                        <mat-datepicker #pickfechaNacimiento></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>Fecha Defunción:</mat-label>
                        <input matInput readonly [(ngModel)]="fechaDefuncionR" [matDatepicker]="pickfechaDefuncion" [disabled]="insUp">
                        <mat-datepicker-toggle matSuffix [for]="pickfechaDefuncion"></mat-datepicker-toggle>
                        <mat-datepicker #pickfechaDefuncion></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>Celular:</mat-label>
                        <input matInput [(ngModel)]="celularR" [readonly]="insUp">
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>E-mail:</mat-label>
                        <input matInput [(ngModel)]="emailR" [readonly]="insUp">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-12">
                        <mat-label>Texto de representación:</mat-label>
                        <textarea matInput [(ngModel)]="texto" rows="5"></textarea>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>Fecha Caducidad:</mat-label>
                        <input matInput readonly [(ngModel)]="fechaCaducidad" [matDatepicker]="pickfechaCaducidad">
                        <mat-datepicker-toggle matSuffix [for]="pickfechaCaducidad"></mat-datepicker-toggle>
                        <mat-datepicker #pickfechaCaducidad></mat-datepicker>
                    </mat-form-field>
                    <div class="col-6"></div>
                </div>
        </ng-container>
        <ng-container *ngIf="tipoPersonaRep == 'M'">
                <div class="row">
                    <mat-form-field class="col-12">
                        <mat-label>Nombre:</mat-label>
                        <input matInput [(ngModel)]="nombreR" [readonly]="insUp">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>RFC:</mat-label>
                        <input matInput [(ngModel)]="rfcR" [readonly]="insUp">
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>Act. preponderante:</mat-label>
                        <input matInput [(ngModel)]="actPreponderanteR" [readonly]="insUp">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>Tipo de persona moral</mat-label>
                        <mat-select [(ngModel)]="idTipoPersonaMoralR" [disabled]="insUp">
                            <mat-option value=""></mat-option>
                            <mat-option value="1">Test</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>Fecha de inicio de operación:</mat-label>
                        <input matInput readonly [(ngModel)]="fechaInicioOperacionR" [matDatepicker]="pickfechaInicioOperacion" [disabled]="insUp">
                        <mat-datepicker-toggle matSuffix [for]="pickfechaInicioOperacion"></mat-datepicker-toggle>
                        <mat-datepicker #pickfechaInicioOperacion></mat-datepicker>
                    </mat-form-field>                            
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>Motivo del cambio de situación</mat-label>
                        <mat-select [(ngModel)]="idMotivoR" [disabled]="insUp">
                            <mat-option value=""></mat-option>
                            <mat-option value="1">Test</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>Fecha de cambio de situación:</mat-label>
                        <input matInput readonly [(ngModel)]="fechaCambioR" [matDatepicker]="pickfechaCambio" [disabled]="insUp">
                        <mat-datepicker-toggle matSuffix [for]="pickfechaCambio"></mat-datepicker-toggle>
                        <mat-datepicker #pickfechaCambio></mat-datepicker>
                    </mat-form-field>                            
                </div>
        </ng-container>

        <!-------------------------------- REPRESENTADO ------------------------------------------->
        <mat-card-header>
            <mat-card-title>Representado</mat-card-title>
        </mat-card-header>
        <ng-container *ngIf="tipoPersonaRepdo == 'F'">
                <div class="row">
                    <mat-form-field class="col-12">
                        <mat-label>Nombre:</mat-label>
                        <input matInput [(ngModel)]="nombreRdo" [readonly]="insUp">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>Apellido Paterno:</mat-label>
                        <input matInput [(ngModel)]="apaternoRdo" [readonly]="insUp">
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>Apellido Materno:</mat-label>
                        <input matInput [(ngModel)]="amaternoRdo" [readonly]="insUp">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>RFC:</mat-label>
                        <input matInput [(ngModel)]="rfcRdo" (keyup)="changeRequired('curp', 'rfc')" [readonly]="insUp">
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>CURP:</mat-label>
                        <input matInput [(ngModel)]="curpRdo" (keyup)="changeRequired('rfc', 'curp')" [readonly]="insUp">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>Clave INE:</mat-label>
                        <input matInput [(ngModel)]="ineRdo" [readonly]="insUp">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label></mat-label>
                        <mat-select [(ngModel)]="idDocIdentRdo" [disabled]="insUp">
                            <mat-option value="">Seleccionar</mat-option>
                            <mat-option value="1">Cédula profecional</mat-option>
                            <mat-option value="2">Pasaporte</mat-option>
                            <mat-option value="3">Licencia de conducir</mat-option>
                            <mat-option value="4">Número de seguro social</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label></mat-label>
                        <input matInput [(ngModel)]="docIdentRdo" [readonly]="insUp">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>Fecha Nacimiento:</mat-label>
                        <input matInput readonly [(ngModel)]="fechaNacimientoRdo" [matDatepicker]="pickfechaNacimiento" [disabled]="insUp">
                        <mat-datepicker-toggle matSuffix [for]="pickfechaNacimiento"></mat-datepicker-toggle>
                        <mat-datepicker #pickfechaNacimiento></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>Fecha Defunción:</mat-label>
                        <input matInput readonly [(ngModel)]="fechaDefuncionRdo" [matDatepicker]="pickfechaDefuncion" [disabled]="insUp">
                        <mat-datepicker-toggle matSuffix [for]="pickfechaDefuncion"></mat-datepicker-toggle>
                        <mat-datepicker #pickfechaDefuncion></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>Celular:</mat-label>
                        <input matInput [(ngModel)]="celularRdo" [readonly]="insUp">
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>E-mail:</mat-label>
                        <input matInput [(ngModel)]="emailRdo" [readonly]="insUp">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-12">
                        <mat-label>Texto de representación:</mat-label>
                        <textarea matInput [(ngModel)]="textoRdo" rows="5"></textarea>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>Fecha Caducidad:</mat-label>
                        <input matInput readonly [(ngModel)]="fechaCaducidadRdo" [matDatepicker]="pickfechaCaducidad">
                        <mat-datepicker-toggle matSuffix [for]="pickfechaCaducidad"></mat-datepicker-toggle>
                        <mat-datepicker #pickfechaCaducidad></mat-datepicker>
                    </mat-form-field>
                    <div class="col-6"></div>
                </div>
        </ng-container>
        <ng-container *ngIf="tipoPersonaRepdo == 'M'">
                <div class="row">
                    <mat-form-field class="col-12">
                        <mat-label>Nombre:</mat-label>
                        <input matInput [(ngModel)]="nombreRdo" [readonly]="insUp">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>RFC:</mat-label>
                        <input matInput [(ngModel)]="rfcRdo" [readonly]="insUp">
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>Act. preponderante:</mat-label>
                        <input matInput [(ngModel)]="actPreponderanteRdo" [readonly]="insUp">
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>Tipo de persona moral</mat-label>
                        <mat-select [(ngModel)]="idTipoPersonaMoralRdo" [disabled]="insUp">
                            <mat-option value=""></mat-option>
                            <mat-option value="1">Test</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>Fecha de inicio de operación:</mat-label>
                        <input matInput readonly [(ngModel)]="fechaInicioOperacionRdo" [matDatepicker]="pickfechaInicioOperacion" [disabled]="insUp">
                        <mat-datepicker-toggle matSuffix [for]="pickfechaInicioOperacion"></mat-datepicker-toggle>
                        <mat-datepicker #pickfechaInicioOperacion></mat-datepicker>
                    </mat-form-field>                            
                </div>
                <div class="row">
                    <mat-form-field class="col-6">
                        <mat-label>Motivo del cambio de situación</mat-label>
                        <mat-select [(ngModel)]="idMotivoRdo" [disabled]="insUp">
                            <mat-option value=""></mat-option>
                            <mat-option value="1">Test</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-6">
                        <mat-label>Fecha de cambio de situación:</mat-label>
                        <input matInput readonly [(ngModel)]="fechaCambioRdo" [matDatepicker]="pickfechaCambio" [disabled]="insUp">
                        <mat-datepicker-toggle matSuffix [for]="pickfechaCambio"></mat-datepicker-toggle>
                        <mat-datepicker #pickfechaCambio></mat-datepicker>
                    </mat-form-field>                            
                </div>
        </ng-container>

        <!----------------------------------------- DATOS DEL DOCUMENTO -------------------------------------------------->
        <mat-card-header>
            <mat-card-title>Datos de representación</mat-card-title>
        </mat-card-header>
        <ng-container>
            <div class="row">
                <mat-form-field class="col-12">
                    <mat-label>Texto de representación:</mat-label>
                    <textarea matInput [(ngModel)]="texto" rows="5"></textarea>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-6">
                    <mat-label>Documento representación:</mat-label>
                    <input matInput [(ngModel)]="tipoDj" [readonly]="insUp">
                </mat-form-field>
                <div class="col-6"></div>
            </div>
            <div class="row">
                <mat-form-field class="col-6">
                    <mat-label>Fecha Caducidad:</mat-label>
                    <input matInput readonly [(ngModel)]="fechaCaducidad" [matDatepicker]="pickfechaCaducidad">
                    <mat-datepicker-toggle matSuffix [for]="pickfechaCaducidad"></mat-datepicker-toggle>
                    <mat-datepicker #pickfechaCaducidad></mat-datepicker>
                </mat-form-field>
                <div class="col-6"></div>
            </div>
        </ng-container>
    </ng-container>

</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>