<mat-card>

    <!-- <ng-container *ngIf="true"> -->
    <ng-container>

        <div class="borde">
            <mat-card-header>
                <h3 style="margin: 0 0 15px;" class="verde-cdmx">Datos Generales:</h3>
            </mat-card-header>
            <div class="row">
                <div class="col-md-8 offset-md-2">
            <div style="padding: 30px; text-align: center;" *ngIf="loading">
                <mat-spinner style="margin:0 auto;"></mat-spinner>
                <p>Cargando...</p>
            </div>
                <!-- <br>
                <div class="row">
                    <mat-form-field class="col-4">
                        <mat-label>Tipo de persona:</mat-label>
                        <mat-select [(ngModel)]="contribuyente.tipoPersona">
                            <mat-option value="F">Fisica</mat-option>
                            <mat-option value="M">Moral</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> -->
                <br>
               
                <ng-container *ngIf="contribuyente.tipoPersona == 'F' && !loading">
                    <form [formGroup]="fisicaFormGroup">
                        <div class="row">
                            <mat-form-field class="col-10">
                                <mat-label>Nombre:</mat-label>
                                <input matInput formControlName="nombre" [(ngModel)]="contribuyente.nombre">
                                <mat-error *ngIf="fisicaFormGroup.controls.nombre.errors?.required">Requerido</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label>Apellido Paterno:</mat-label>
                                <input matInput formControlName="apepaterno" [(ngModel)]="contribuyente.apepaterno">
                                <mat-error *ngIf="fisicaFormGroup.controls.apepaterno.errors?.required">Requerido</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <mat-label>Apellido Materno:</mat-label>
                                <input matInput formControlName="apematerno" [(ngModel)]="contribuyente.apematerno">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label>RFC:</mat-label>
                                <input matInput formControlName="rfc" (keyup)="changeRequired('curp', 'rfc')" [(ngModel)]="contribuyente.rfc">
                                <mat-error *ngIf="fisicaFormGroup.controls.rfc.errors?.required">Se han de llenar algunos de los campos de RFC o CURP</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <mat-label>CURP:</mat-label>
                                <input matInput formControlName="curp" (keyup)="changeRequired('rfc', 'curp')" [(ngModel)]="contribuyente.curp">
                                <mat-error *ngIf="fisicaFormGroup.controls.curp.errors?.required">Se han de llenar algunos de los campos de RFC o CURP</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label>Clave INE:</mat-label>
                                <input matInput formControlName="ine" [(ngModel)]="contribuyente.ine">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label>Otro Documento:</mat-label>
                                <mat-select formControlName="idDocIdent" [(ngModel)]="contribuyente.idDocIdent">
                                    <mat-option value="">Seleccione...</mat-option>
                                    <mat-option *ngFor="let documento of dataDocumentos" [value]="documento.IDDOCIDENTIF">
                                        {{ documento.DESCRIPCION }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <mat-label>Número Documento</mat-label>
                                <input matInput formControlName="docIdent" [(ngModel)]="contribuyente.docIdent">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label>Fecha Nacimiento:</mat-label>
                                <input matInput readonly formControlName="fecha_naci" [matDatepicker]="pickfechaNacimiento" [(ngModel)]="contribuyente.fecha_naci">
                                <mat-datepicker-toggle matSuffix [for]="pickfechaNacimiento"></mat-datepicker-toggle>
                                <mat-datepicker #pickfechaNacimiento></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <mat-label>Fecha Defunción:</mat-label>
                                <input matInput readonly formControlName="fecha_def" [matDatepicker]="pickfechaDefuncion" [(ngModel)]="contribuyente.fecha_def">
                                <mat-datepicker-toggle matSuffix [for]="pickfechaDefuncion"></mat-datepicker-toggle>
                                <mat-datepicker #pickfechaDefuncion></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label>Celular:</mat-label>
                                <input matInput formControlName="celular" [(ngModel)]="contribuyente.celular">
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <mat-label>E-mail:</mat-label>
                                <input matInput formControlName="email" [(ngModel)]="contribuyente.email">
                            </mat-form-field>
                        </div>
                    </form>
                </ng-container>
                <ng-container *ngIf="contribuyente.tipoPersona == 'M'">
                    <form [formGroup]="moralFormGroup">
                        <div class="row">
                            <mat-form-field class="col-10">
                                <mat-label>Nombre:</mat-label>
                                <input matInput formControlName="nombre_moral" [(ngModel)]="contribuyente.nombre_moral">
                                <mat-error *ngIf="moralFormGroup.controls.nombre_moral.errors?.required">Requerido</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label>RFC:</mat-label>
                                <input matInput formControlName="rfc" [(ngModel)]="contribuyente.rfc">
                                <mat-error *ngIf="moralFormGroup.controls.rfc.errors?.required">Requerido</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <mat-label>Act. preponderante:</mat-label>
                                <input matInput formControlName="actPreponderante" [(ngModel)]="contribuyente.actPreponderante">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label>Tipo de persona moral</mat-label>
                                <mat-select formControlName="idTipoPersonaMoral">
                                    <mat-option value=""></mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <mat-label>Fecha de inicio de operación:</mat-label>
                                <input matInput readonly formControlName="fechaInicioOperacion" [matDatepicker]="pickfechaInicioOperacion" [(ngModel)]="contribuyente.fechaInicioOperacion">
                                <mat-datepicker-toggle matSuffix [for]="pickfechaInicioOperacion"></mat-datepicker-toggle>
                                <mat-datepicker #pickfechaInicioOperacion></mat-datepicker>
                            </mat-form-field>                            
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label>Motivo del cambio de situación</mat-label>
                                <mat-select formControlName="idMotivo" >
                                    <mat-option value=""></mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <mat-label>Fecha de cambio de situación:</mat-label>
                                <input matInput readonly formControlName="fechaCambio" [matDatepicker]="pickfechaCambio" [(ngModel)]="contribuyente.fechaCambio">
                                <mat-datepicker-toggle matSuffix [for]="pickfechaCambio"></mat-datepicker-toggle>
                                <mat-datepicker #pickfechaCambio></mat-datepicker>
                            </mat-form-field>                            
                        </div>
                    </form>
                </ng-container>
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="d-flex flex-row-reverse" style="float: left;">
                            <button mat-stroked-button class="boton-n-representacion" color="primary" aria-label="Historial" style="margin: auto; font-size: 11px;" (click)="viewHistoricoDatosPersonales(this.idContribuyente)" *ngIf="!loading">
                                Historial Datos Generales <mat-icon style="display: inherit; width: 11px;">list</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4 offset-md-3">
                        <div class="d-flex flex-row-reverse">
                            <button mat-stroked-button class="boton-n-representacion" color="primary" aria-label="Actualizar" (click)="actualizarContribuyente()" *ngIf="!loading">
                                Actualizar <mat-icon style="display: inherit; width: 15px;">update</mat-icon>
                            </button>
                        </div>
                    </div>
                </div><br>
                <!-- <div class="row">
                    <div class="col">
                        <button mat-stroked-button color="primary" aria-label="Historial Datos Generales" matTooltip="Historial Datos Generales" (click)="getHistorialDatosGenerales()">
                            <mat-icon>assignment</mat-icon>Historial Datos Generales
                        </button>
                    </div>
                </div> -->
                </div>
            </div>
        </div>
        <br>

        <!------------------------- DOMICILIO ------------------------------->
        <div class="borde">
            <mat-card-header>
                <mat-card-title>Datos de contacto</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <br>
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelDomicilio = true" (closed)="panelDomicilio = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Domicilios
                            </mat-panel-title>
                            <mat-panel-description>
                                {{panelDomicilio ? 'Cerrar' : 'Ver'}} los datos de los Domicilios
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-md-4">
                                <button mat-stroked-button aria-label="Domicilios" style="background-color: #00A447; color: #FFF!important;" (click)="addDomicilio()">
                                    Domicilios <mat-icon style="display: inherit; width: 15px;">add</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ng-container>
                                    <div style="padding: 30px; text-align: center;" *ngIf="loadingDomicilios">
                                        <mat-spinner style="margin:0 auto;"></mat-spinner>
                                        <p>Cargando...</p>
                                    </div>
                                    <div class="alert alert-info" *ngIf="!loadingDomicilios && dataSource1.length == 0">
                                        No hay direcciones asociadas.
                                    </div> 
                                    <table mat-table [dataSource]="dataSource1" *ngIf="!loadingDomicilios && dataSource1.length > 0" width="100%">
                                        <ng-container matColumnDef="tipoDir">
                                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="15%" style="text-align: center; font-size: 14px;"> Tipo<br> Dirección </th>
                                            <td mat-cell *matCellDef="let element" style="text-align: center;"> {{ element.CODTIPOSDIRECCION }}</td>
                                        </ng-container>
                                        <ng-container matColumnDef="direccion">
                                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="65%" style="font-size: 14px;"> Dirección </th>
                                            <td mat-cell *matCellDef="let element">
                                                {{ element.ABREVIATURAVIA }}, {{ element.VIA }} {{ element.NUMEROEXTERIOR }}, Col: {{ element.COLONIA}}
                                                C.P. {{ element.CODIGOPOSTAL}}, {{ element.DELEGACION}} ({{ element.ESTADO }})
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="historial">
                                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="10%" style="text-align: center; font-size: 14px;"> Historial </th>
                                            <td mat-cell *matCellDef="let element" style="text-align: center;">
                                                <button mat-icon-button type="button" color="primary" aria-label="Historial" matTooltip="Historial" (click)="viewHistoricoDomicilio(element.IDDIRECCION)">
                                                    <mat-icon>search</mat-icon>
                                                </button>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="editar">
                                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="10%" style="text-align: center; font-size: 14px;"> Editar </th>
                                            <td mat-cell *matCellDef="let element" style="text-align: center;">
                                                <button mat-icon-button type="button" color="primary" aria-label="Editar" matTooltip="Editar" (click)="editDomicilio(element.IDDIRECCION)">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsDom"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsDom;"></tr>
                                    </table>
                                    <mat-paginator #paginator [length]="total1" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado1($event)">
                                    </mat-paginator>
                                </ng-container>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <br><hr><br>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelDomPredial = true" (closed)="panelDomPredial = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Gestión de Domicilios para Recibir Boletas Prediales
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelDomPredial ? 'Cerrar' : 'Ver'}} los datos de los Domicilios
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-md-4">
                            <button mat-stroked-button aria-label="Domicilios" style="background-color: #00A447; color: #FFF!important;" (click)="addDomicilioBoleta()">
                                Domicilios <mat-icon style="display: inherit; width: 15px;">add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <ng-container>
                                <div style="padding: 30px; text-align: center;" *ngIf="loadingDomicilios">
                                    <mat-spinner style="margin:0 auto;"></mat-spinner>
                                    <p>Cargando...</p>
                                </div>
                                <div class="alert alert-info" *ngIf="!loadingDomicilios && dataSource2.length == 0">
                                    No hay direcciones asociadas.
                                </div> 
                                <table mat-table [dataSource]="dataSource2" *ngIf="!loadingDomicilios && dataSource2.length > 0" width="100%">
                                    <ng-container matColumnDef="tipoDir">
                                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="10%" style="text-align: center; font-size: 14px;"> Tipo Dirección </th>
                                        <td mat-cell *matCellDef="let element" style="text-align: center; font-size: 14px;"> {{ element.CODTIPOSDIRECCION }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="direccion">
                                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="70%"> Dirección </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{ element.ABREVIATURAVIA }}, {{ element.VIA }} {{ element.NUMEROEXTERIOR }}, Col: {{ element.COLONIA}}
                                            C.P. {{ element.CODIGOPOSTAL}}, {{ element.DELEGACION}} ({{ element.ESTADO }})
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="historial">
                                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="10%" style="text-align: center; font-size: 14px;"> Historial </th>
                                        <td mat-cell *matCellDef="let element" style="text-align: center;">
                                            <button mat-icon-button type="button" color="primary" aria-label="Historial" matTooltip="Historial" (click)="viewHistoricoDomicilio(element.IDDIRECCION)">
                                                <mat-icon>search</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="editar">
                                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="10%" style="text-align: center; font-size: 14px;"> Editar </th>
                                        <td mat-cell *matCellDef="let element" style="text-align: center;">
                                            <button mat-icon-button type="button" color="primary" aria-label="Editar" matTooltip="Editar" (click)="editDomicilio(element.IDDIRECCION)">
                                               <mat-icon>edit</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumnsDom"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumnsDom;"></tr>
                                </table>
                                <mat-paginator #paginator [length]="total2" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado2($event)">
                                </mat-paginator>
                            </ng-container>                    
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
            </mat-card-content>
        </div>
        
        <!-------------------------- REPRESENTACIÓN -------------------------->
        <div class="borde">
            <mat-card-header>
                <mat-card-title>Datos de representación</mat-card-title>
            </mat-card-header>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelRepresentantes = true" (closed)="panelRepresentantes = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Representantes
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelRepresentantes ? 'Cerrar' : 'Ver'}} los datos de los Representantes
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-card-content>
                        <br>
                        <div class="row">
                            <div class="col-4">
                                <h3>Agregar
                                    <button mat-flat-button type="button" color="primary" aria-label="Agregar" matTooltip="Agregar" class="little-button" (click)="addRepresentante()">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </h3>
                            </div>
                            <div class="col-4"></div>
                            <div class="col-4"></div>                    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ng-container>
                                    <div style="padding: 30px; text-align: center;" *ngIf="loadingRepresentante">
                                        <mat-spinner style="margin:0 auto;"></mat-spinner>
                                        <p>Cargando...</p>
                                    </div>
                                    <div class="alert alert-info" *ngIf="!loadingRepresentante && dataSource4.length == 0">
                                        No hay representantes asociados.
                                    </div> 
                                    <table mat-table [dataSource]="dataSource4" *ngIf="!loadingRepresentante && dataSource4.length > 0" width="100%">
                                        <ng-container matColumnDef="representacion">
                                            <th mat-header-cell *matHeaderCellDef width="15%" > Tipo Dirección </th>
                                            <td mat-cell *matCellDef="let element" width="15%" >
                                                {{ element.APELLIDOPATERNO }} {{ element.APELLIDOMATERNO }} {{ element.NOMBRE }}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="texto">
                                            <th mat-header-cell *matHeaderCellDef width="75%"> Texto </th>
                                            <td mat-cell *matCellDef="let element" width="75%">
                                                {{ element.TEXTOREPRESENTACION }}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="caducidad">
                                            <th mat-header-cell *matHeaderCellDef width="75%"> Caducidad </th>
                                            <td mat-cell *matCellDef="let element" width="75%">
                                                {{ element.FECHACADUCIDAD }}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="editar">
                                            <th mat-header-cell *matHeaderCellDef width="75%"> Editar </th>
                                            <td mat-cell *matCellDef="let element" width="75%">
                                                <button mat-icon-button type="button" color="primary" aria-label="Editar" matTooltip="Editar" (click)="addRepresentante(null, element)">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="eliminar">
                                            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                                            <td mat-cell *matCellDef="let element">
                                                <button mat-icon-button type="button" color="primary" aria-label="Eliminar" matTooltip="Eliminar" (click)="eliminarRepresentacion(element,1)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsRepdo"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsRepdo;"></tr>
                                    </table>
                                    <mat-paginator #paginator [length]="total4" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado4($event)">
                                    </mat-paginator>
                                </ng-container>
                            </div>
                        </div><br><br>
                    </mat-card-content>
                </mat-expansion-panel>
            </mat-accordion>
            <br><hr><br>
            <mat-accordion>
                <mat-expansion-panel (opened)="panelRepresentados = true" (closed)="panelRepresentados = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Representados
                        </mat-panel-title>
                        <mat-panel-description>
                            {{panelRepresentados ? 'Cerrar' : 'Ver'}} los datos de los Representados
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-card-content>
                        <br>
                        <div class="row">
                            <div class="col-4">
                                <h3>Representados
                                    <button mat-flat-button type="button" color="primary" aria-label="Agregar" matTooltip="Agregar" class="little-button" (click)="addRepresentado()">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </h3>
                            </div>
                            <div class="col-4"></div>
                            <div class="col-4"></div>                    
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <ng-container>
                                    <div style="padding: 30px; text-align: center;" *ngIf="loadingRepresentado">
                                        <mat-spinner style="margin:0 auto;"></mat-spinner>
                                        <p>Cargando...</p>
                                    </div>
                                    <div class="alert alert-info" *ngIf="!loadingRepresentado && dataSource5.length == 0">
                                        No hay representantes asociados.
                                    </div> 
                                    <table mat-table [dataSource]="dataSource5" *ngIf="!loadingRepresentado && dataSource5.length > 0" width="100%">
                                        <ng-container matColumnDef="representacion">
                                            <th mat-header-cell *matHeaderCellDef width="15%" > Tipo Dirección </th>
                                            <td mat-cell *matCellDef="let element" width="15%" >
                                                {{ element.APELLIDOPATERNO }} {{ element.APELLIDOMATERNO }} {{ element.NOMBRE }}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="texto">
                                            <th mat-header-cell *matHeaderCellDef width="75%"> Texto </th>
                                            <td mat-cell *matCellDef="let element" width="75%">
                                                {{ element.TEXTOREPRESENTACION }}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="caducidad">
                                            <th mat-header-cell *matHeaderCellDef width="75%"> Caducidad </th>
                                            <td mat-cell *matCellDef="let element" width="75%">
                                                {{ element.FECHACADUCIDAD }}
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="editar">
                                            <th mat-header-cell *matHeaderCellDef width="75%"> Editar </th>
                                            <td mat-cell *matCellDef="let element" width="75%">
                                                <button mat-icon-button type="button" color="primary" aria-label="Editar" matTooltip="Editar" (click)="addRepresentado(null, element)">
                                                    <mat-icon>edit</mat-icon>
                                                </button>
                                            </td>
                                        </ng-container>
                                        <ng-container matColumnDef="eliminar">
                                            <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                                            <td mat-cell *matCellDef="let element">
                                                <button mat-icon-button type="button" color="primary" aria-label="Eliminar" matTooltip="Eliminar" (click)="eliminarRepresentacion(element,2)">
                                                    <mat-icon>delete</mat-icon>
                                                </button>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsRepdo"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsRepdo;"></tr>
                                    </table>
                                    <mat-paginator #paginator [length]="total5" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado5($event)">
                                    </mat-paginator>
                                </ng-container>
                            </div>
                        </div><br><br>
                    </mat-card-content>
                </mat-expansion-panel>
            </mat-accordion><br>
            <mat-card-content>
                <button mat-icon-button type="button" color="primary" aria-label="Eliminar" matTooltip="Eliminar" (click)="historialRepresentacion()" *ngIf="!loadingRepresentado">
                    <b>Historial Representaciones</b>
                </button>
            </mat-card-content><br>
        </div>
    </ng-container>

</mat-card>
