<mat-card>
    <div class="borde">
        <h1 class="titulo-cdmx" style="margin-top: 15px; margin-bottom: 20px;">Datos de la Sociedad</h1>
        <!-- <mat-card-header>
            <mat-card-title>Datos Sociedad</mat-card-title>
        </mat-card-header> -->
        <mat-card-header style="padding-left: 8%;">
            <mat-card-title>Datos de persona moral</mat-card-title>
        </mat-card-header>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <ng-container *ngIf="!loading">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Razón social</mat-label>
                                <input matInput placeholder="Placeholder" [(ngModel)]="datosSociedad.razonSocial" [disabled]="true" [readonly]="true">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>RFC*</mat-label>
                                <input matInput placeholder="Placeholder" [(ngModel)]="datosSociedad.rfc" [disabled]="true" [readonly]="true">
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-card-header>
                        <mat-card-title>Datos especifícos de la sociedad</mat-card-title>
                    </mat-card-header>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Registro*</mat-label>
                                <input matInput placeholder="Placeholder" [(ngModel)]="datosSociedad.registro" [disabled]="true" [readonly]="true">
                            </mat-form-field>
                        </div>
                        <div class="col-md-5">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Fecha Alta</mat-label>
                                <input matInput [matDatepicker]="fechaAlta" [(ngModel)]="datosSociedad.fecha_alta" [disabled]="true">
                                <mat-datepicker-toggle matSuffix [for]="fechaAlta"></mat-datepicker-toggle>
                                <mat-datepicker #fechaAlta></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Fecha Baja</mat-label>
                                <input matInput [matDatepicker]="fechaBaja" [(ngModel)]="datosSociedad.fecha_baja" [disabled]="true">
                                <mat-datepicker-toggle matSuffix [for]="fechaBaja"></mat-datepicker-toggle>
                                <mat-datepicker #fechaBaja></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>
                <h3>Peritos Asociados</h3>
                <ng-container>
                    <div style="padding: 30px; text-align: center;" *ngIf="loading">
                        <mat-spinner style="margin:0 auto;"></mat-spinner>
                        <p>Cargando...</p>
                    </div>
                    <div class="alert alert-info" *ngIf="!loading && dataSource.length == 0">
                        No hay registros para el filtro seleccionado
                    </div> 
                    <table mat-table [dataSource]="dataSource" *ngIf="!loading && dataSource.length > 0">
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{ element.nombre }} {{ element.apellidopaterno }} {{ element.apellidomaterno }}</td>
                        </ng-container>
                        <ng-container matColumnDef="registro">
                            <th mat-header-cell *matHeaderCellDef> Registro </th>
                            <td mat-cell *matCellDef="let element"> {{element.registro}}</td>
                        </ng-container>
                        <ng-container matColumnDef="rfc">
                            <th mat-header-cell *matHeaderCellDef> RFC </th>
                            <td mat-cell *matCellDef="let element"> {{ element.rfc }}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator #paginator [length]="total" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado($event)">
                    </mat-paginator>
                </ng-container>
            </div>
        </div>

        <div class="col-md-12">
            <ng-container>
                <div style="padding: 30px; text-align: center;" *ngIf="loadingDomicilios">
                    <mat-spinner style="margin:0 auto;"></mat-spinner>
                    <p>Cargando...</p>
                </div>
                <div class="alert alert-info" *ngIf="!loadingDomicilios && dataSource1.length == 0">
                    No hay direcciones asociadas.
                </div> 
                <table mat-table [dataSource]="dataSource1" *ngIf="!loadingDomicilios && dataSource1.length > 0" width="100%">
                    <ng-container matColumnDef="tipoDir">
                        <th mat-header-cell *matHeaderCellDef width="15%" > Tipo Dirección </th>
                        <td mat-cell *matCellDef="let element" width="15%" > {{ element.CODTIPOSDIRECCION }}</td>
                    </ng-container>
                    <ng-container matColumnDef="direccion">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="80%" style="font-size: 14px;"> Dirección </th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;">
                            {{ element.ABREVIATURAVIA }}, {{ element.VIA }} {{ element.NUMEROEXTERIOR }}, Col: {{ element.COLONIA}}
                            C.P. {{ element.CODIGOPOSTAL}}, {{ element.DELEGACION}} ({{ element.ESTADO }})
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="historial">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="10%" style="text-align: center; font-size: 14px;"> Historial </th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;">
                            <button mat-icon-button type="button" color="primary" aria-label="Historial" matTooltip="Historial" (click)="viewHistoricoDomicilio(element.IDDIRECCION)">
                                <mat-icon>search</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="editar">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="10%" style="text-align: center; font-size: 14px;"> Editar </th>
                        <td mat-cell *matCellDef="let element" style="text-align: center;">
                            <button mat-icon-button type="button" color="primary" aria-label="Historial" matTooltip="Historial" (click)="editDomicilio(element.IDDIRECCION)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsDom"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsDom;"></tr>
                </table>
                <mat-paginator #paginator [length]="total1" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado1($event)">
                </mat-paginator>
            </ng-container>
        </div>

        <div class="col-md-12">
            <ng-container>
                <div style="padding: 30px; text-align: center;" *ngIf="loadingDomicilios">
                    <mat-spinner style="margin:0 auto;"></mat-spinner>
                    <p>Cargando...</p>
                </div>
                <div class="alert alert-info" *ngIf="!loadingDomicilios && dataSource2.length == 0">
                    No hay direcciones asociadas.
                </div> 
                <table mat-table [dataSource]="dataSource2" *ngIf="!loadingDomicilios && dataSource2.length > 0" width="100%">
                    <ng-container matColumnDef="tipoDir">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="10%"> Tipo Dirección </th>
                        <td mat-cell *matCellDef="let element"> {{ element.CODTIPOSDIRECCION }}</td>
                    </ng-container>
                    <ng-container matColumnDef="direccion">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="70%"> Dirección </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element.ABREVIATURAVIA }}, {{ element.VIA }} {{ element.NUMEROEXTERIOR }}, Col: {{ element.COLONIA}}
                            C.P. {{ element.CODIGOPOSTAL}}, {{ element.DELEGACION}} ({{ element.ESTADO }})
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="historial">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="10%"> Historial </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button type="button" color="primary" aria-label="Historial" matTooltip="Historial" (click)="viewHistoricoDomicilio(element.IDDIRECCION)">
                                <mat-icon>search</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="editar">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="10%"> Editar </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button type="button" color="primary" aria-label="Editar" matTooltip="Editar" (click)="editDomicilio(element.IDDIRECCION)">
                            <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsDom"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsDom;"></tr>
                </table>
                <mat-paginator #paginator [length]="total2" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado2($event)">
                </mat-paginator>
            </ng-container>                    
        </div>

        <div class="col-md-12">
            <ng-container>
                <div style="padding: 30px; text-align: center;" *ngIf="loadingRepresentante">
                    <mat-spinner style="margin:0 auto;"></mat-spinner>
                    <p>Cargando...</p>
                </div>
                <div class="alert alert-info" *ngIf="!loadingRepresentante && dataSource4.length == 0">
                    No hay representantes asociados.
                </div> 
                <table mat-table [dataSource]="dataSource4" *ngIf="!loadingRepresentante && dataSource4.length > 0" width="100%">
                    <ng-container matColumnDef="representacion">
                        <th mat-header-cell *matHeaderCellDef width="15%" > Tipo Dirección </th>
                        <td mat-cell *matCellDef="let element" width="15%" >
                            {{ element.APELLIDOPATERNO }} {{ element.APELLIDOMATERNO }} {{ element.NOMBRE }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="texto">
                        <th mat-header-cell *matHeaderCellDef width="75%"> Texto </th>
                        <td mat-cell *matCellDef="let element" width="75%">
                            {{ element.TEXTOREPRESENTACION }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="caducidad">
                        <th mat-header-cell *matHeaderCellDef width="75%"> Caducidad </th>
                        <td mat-cell *matCellDef="let element" width="75%">
                            {{ element.FECHACADUCIDAD }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="editar">
                        <th mat-header-cell *matHeaderCellDef width="75%"> Editar </th>
                        <td mat-cell *matCellDef="let element" width="75%">
                            <button mat-icon-button type="button" color="primary" aria-label="Editar" matTooltip="Editar" (click)="addRepresentante(element)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="eliminar">
                        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button type="button" color="primary" aria-label="Eliminar" matTooltip="Eliminar" (click)="confirmaCambio(4,element,1)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsRepdo"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsRepdo;"></tr>
                </table>
                <mat-paginator #paginator [length]="total4" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado4($event)">
                </mat-paginator>
            </ng-container>
        </div>

        <div class="col-md-12">
            <ng-container>
                <div style="padding: 30px; text-align: center;" *ngIf="loadingRepresentado">
                    <mat-spinner style="margin:0 auto;"></mat-spinner>
                    <p>Cargando...</p>
                </div>
                <div class="alert alert-info" *ngIf="!loadingRepresentado && dataSource5.length == 0">
                    No hay representantes asociados.
                </div> 
                <table mat-table [dataSource]="dataSource5" *ngIf="!loadingRepresentado && dataSource5.length > 0" width="100%">
                    <ng-container matColumnDef="representacion">
                        <th mat-header-cell *matHeaderCellDef width="15%" > Tipo Dirección </th>
                        <td mat-cell *matCellDef="let element" width="15%" >
                            {{ element.APELLIDOPATERNO }} {{ element.APELLIDOMATERNO }} {{ element.NOMBRE }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="texto">
                        <th mat-header-cell *matHeaderCellDef width="75%"> Texto </th>
                        <td mat-cell *matCellDef="let element" width="75%">
                            {{ element.TEXTOREPRESENTACION }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="caducidad">
                        <th mat-header-cell *matHeaderCellDef width="75%"> Caducidad </th>
                        <td mat-cell *matCellDef="let element" width="75%">
                            {{ element.FECHACADUCIDAD }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="editar">
                        <th mat-header-cell *matHeaderCellDef width="75%"> Editar </th>
                        <td mat-cell *matCellDef="let element" width="75%">
                            <button mat-icon-button type="button" color="primary" aria-label="Editar" matTooltip="Editar" (click)="addRepresentado(element)">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="eliminar">
                        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button type="button" color="primary" aria-label="Eliminar" matTooltip="Eliminar" (click)="confirmaCambio(4,element,2)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsRepdo"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsRepdo;"></tr>
                </table>
                <mat-paginator #paginator [length]="total5" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado5($event)">
                </mat-paginator>
            </ng-container>
        </div>

    </div>
</mat-card>