<mat-card>

    <div style="padding: 30px; text-align: center;" *ngIf="false">
        <mat-spinner style="margin:0 auto;"></mat-spinner>
        <p>Cargando...</p>
    </div>
    
    <ng-container *ngIf="true">
        <form [formGroup]="cuentaFormGroup">
            <mat-card-header>
                <mat-card-title></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <mat-form-field class="col-2">
                        <mat-label>Región</mat-label>
                        <input matInput #region formControlName="region" minlength="3" maxlength="3" (keypress)="keyPressAlphaNumeric($event)" (keyup)="focusNextInput($event, manzana)">
                        <mat-error *ngIf="cuentaFormGroup.controls.region.errors?.required">Requerido</mat-error>
                        <mat-error *ngIf="cuentaFormGroup.controls.region.errors?.minlength">El valor debe de tener 3 alfanúmericos</mat-error>
                        <mat-error *ngIf="cuentaFormGroup.controls.region.errors?.maxlength">El valor debe de tener 3 alfanúmericos</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-2">
                        <mat-label>Manzana</mat-label>
                        <input matInput #manzana formControlName="manzana" minlength="3" maxlength="3" (keypress)="keyPressAlphaNumeric($event)" (keyup)="focusNextInput($event, lote)">
                        <mat-error *ngIf="cuentaFormGroup.controls.manzana.errors?.required">Requerido</mat-error>
                        <mat-error *ngIf="cuentaFormGroup.controls.manzana.errors?.minlength">El valor debe de tener 3 alfanúmericos</mat-error>
                        <mat-error *ngIf="cuentaFormGroup.controls.manzana.errors?.maxlength">El valor debe de tener 3 alfanúmericos</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-2">
                        <mat-label>Lote</mat-label>
                        <input matInput #lote formControlName="lote" minlength="2" maxlength="2" (keypress)="keyPressAlphaNumeric($event)" (keyup)="focusNextInput($event, unidad)">
                        <mat-error *ngIf="cuentaFormGroup.controls.lote.errors?.required">Requerido</mat-error>
                        <mat-error *ngIf="cuentaFormGroup.controls.lote.errors?.minlength">El valor debe de tener 2 alfanúmericos</mat-error>
                        <mat-error *ngIf="cuentaFormGroup.controls.lote.errors?.maxlength">El valor debe de tener 2 alfanúmericos</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-2">
                        <mat-label>Unidad Privativa</mat-label>
                        <input matInput #unidad formControlName="unidad" minlength="3" maxlength="3" (keypress)="keyPressAlphaNumeric($event)">
                        <mat-error *ngIf="cuentaFormGroup.controls.unidad.errors?.required">Requerido</mat-error>
                        <mat-error *ngIf="cuentaFormGroup.controls.unidad.errors?.minlength">El valor debe de tener 3 alfanúmericos</mat-error>
                        <mat-error *ngIf="cuentaFormGroup.controls.unidad.errors?.maxlength">El valor debe de tener 3 alfanúmericos</mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
        </form>
        <form [formGroup]="contribuyenteFormGroup">
            <mat-card-header>
                <mat-card-title></mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <mat-form-field class="col-4">
                        <mat-label>Apellido paterno:</mat-label>
                        <input matInput placeholder="Apellido paterno" formControlName="apaterno">
                        <mat-error *ngIf="contribuyenteFormGroup.controls.apaterno.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-4">
                        <mat-label>Apellido materno:</mat-label>
                        <input matInput placeholder="Apellido materno" formControlName="amaterno">
                        <mat-error *ngIf="contribuyenteFormGroup.controls.amaterno.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-4">
                        <mat-label>Nombre / Razón social:</mat-label>
                        <input matInput placeholder="Nombre / Razón social" formControlName="nombre">
                        <mat-error *ngIf="contribuyenteFormGroup.controls.nombre.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-4">
                        <mat-label>RFC:</mat-label>
                        <input matInput placeholder="RFC" formControlName="rfc">
                        <mat-error *ngIf="contribuyenteFormGroup.controls.rfc.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-4">
                        <mat-label>CURP:</mat-label>
                        <input matInput placeholder="CURP" formControlName="curp">
                        <mat-error *ngIf="contribuyenteFormGroup.controls.curp.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-4">
                        <mat-label>Clave INE:</mat-label>
                        <input matInput placeholder="Clave INE" formControlName="ine">
                        <mat-error *ngIf="contribuyenteFormGroup.controls.ine.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <mat-form-field class="col-4">
                        <mat-label>Otro documento identificativo:</mat-label>
                        <mat-select formControlName="iddocumentoidentificativo">
                            <mat-option value="">Seleccione un rol ...</mat-option>
                            <mat-option value="1">Test</mat-option>
                        </mat-select>
                        <mat-error *ngIf="contribuyenteFormGroup.controls.iddocumentoidentificativo.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field class="col-4">
                        <mat-label></mat-label>
                        <input matInput placeholder="" formControlName="documentoidentificativo">
                        <mat-error *ngIf="contribuyenteFormGroup.controls.documentoidentificativo.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
        </form>
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col">
                <div class="d-flex flex-row-reverse">
                    <button mat-icon-button color="primary" aria-label="Buscar" matTooltip="Buscar" [disabled]="cuentaFormGroup.invalid" (click)="getData(true)">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>
            <div class="col-6">
            </div>
        </div>
    </ng-container>

</mat-card>