<mat-card>

    <div style="padding: 30px; text-align: center;" *ngIf="false">
        <mat-spinner style="margin:0 auto;"></mat-spinner>
        <p>Cargando...</p>
    </div>
    
    <ng-container *ngIf="true">

        <div class="borde">
            <mat-card-header>
                <mat-card-title>Datos Generales</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <br>
                <div class="row">
                    <mat-form-field class="col-4">
                        <mat-label>Tipo de persona:</mat-label>
                        <mat-select [(ngModel)]="tipoPersona">
                            <mat-option value="F">Fisica</mat-option>
                            <mat-option value="M">Moral</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <br>
                <ng-container *ngIf="tipoPersona == 'F'">
                    <form [formGroup]="fisicaFormGroup">
                        <div class="row">
                            <mat-form-field class="col-10">
                                <mat-label>Nombre:</mat-label>
                                <input matInput formControlName="nombre">
                                <mat-error *ngIf="fisicaFormGroup.controls.nombre.errors?.required">Requerido</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label>Apellido Paterno:</mat-label>
                                <input matInput formControlName="apaterno">
                                <mat-error *ngIf="fisicaFormGroup.controls.apaterno.errors?.required">Requerido</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <mat-label>Apellido Materno:</mat-label>
                                <input matInput formControlName="amaterno">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label>RFC:</mat-label>
                                <input matInput formControlName="rfc" (keyup)="changeRequired('curp', 'rfc')">
                                <mat-error *ngIf="fisicaFormGroup.controls.rfc.errors?.required">Se han de llenar algunos de los campos de RFC o CURP</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <mat-label>CURP:</mat-label>
                                <input matInput formControlName="curp" (keyup)="changeRequired('rfc', 'curp')">
                                <mat-error *ngIf="fisicaFormGroup.controls.curp.errors?.required">Se han de llenar algunos de los campos de RFC o CURP</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label>Clave INE:</mat-label>
                                <input matInput formControlName="ine">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label></mat-label>
                                <mat-select formControlName="idDocIdent">
                                    <mat-option value=""></mat-option>
                                    <mat-option value="1">Test</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <mat-label></mat-label>
                                <input matInput formControlName="docIdent">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label>Fecha Nacimiento:</mat-label>
                                <input matInput readonly formControlName="fechaNacimiento" [matDatepicker]="pickfechaNacimiento">
                                <mat-datepicker-toggle matSuffix [for]="pickfechaNacimiento"></mat-datepicker-toggle>
                                <mat-datepicker #pickfechaNacimiento></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <mat-label>Fecha Defunción:</mat-label>
                                <input matInput readonly formControlName="fechaDefuncion" [matDatepicker]="pickfechaDefuncion">
                                <mat-datepicker-toggle matSuffix [for]="pickfechaDefuncion"></mat-datepicker-toggle>
                                <mat-datepicker #pickfechaDefuncion></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label>Celular:</mat-label>
                                <input matInput formControlName="celular">
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <mat-label>E-mail:</mat-label>
                                <input matInput formControlName="email">
                            </mat-form-field>
                        </div>
                    </form>
                </ng-container>
                <ng-container *ngIf="tipoPersona == 'M'">
                    <form [formGroup]="moralFormGroup">
                        <div class="row">
                            <mat-form-field class="col-10">
                                <mat-label>Nombre:</mat-label>
                                <input matInput formControlName="nombre">
                                <mat-error *ngIf="moralFormGroup.controls.nombre.errors?.required">Requerido</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label>RFC:</mat-label>
                                <input matInput formControlName="rfc">
                                <mat-error *ngIf="moralFormGroup.controls.rfc.errors?.required">Requerido</mat-error>
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <mat-label>Act. preponderante:</mat-label>
                                <input matInput formControlName="actPreponderante">
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label>Tipo de persona moral</mat-label>
                                <mat-select formControlName="idTipoPersonaMoral">
                                    <mat-option value=""></mat-option>
                                    <mat-option value="1">Test</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <mat-label>Fecha de inicio de operación:</mat-label>
                                <input matInput readonly formControlName="fechaInicioOperacion" [matDatepicker]="pickfechaInicioOperacion">
                                <mat-datepicker-toggle matSuffix [for]="pickfechaInicioOperacion"></mat-datepicker-toggle>
                                <mat-datepicker #pickfechaInicioOperacion></mat-datepicker>
                            </mat-form-field>                            
                        </div>
                        <div class="row">
                            <mat-form-field class="col-5">
                                <mat-label>Motivo del cambio de situación</mat-label>
                                <mat-select formControlName="idMotivo">
                                    <mat-option value=""></mat-option>
                                    <mat-option value="1">Test</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-5">
                                <mat-label>Fecha de cambio de situación:</mat-label>
                                <input matInput readonly formControlName="fechaCambio" [matDatepicker]="pickfechaCambio">
                                <mat-datepicker-toggle matSuffix [for]="pickfechaCambio"></mat-datepicker-toggle>
                                <mat-datepicker #pickfechaCambio></mat-datepicker>
                            </mat-form-field>                            
                        </div>
                    </form>
                </ng-container>
                <br>
                <div class="row">
                    <div class="col">
                        <button mat-stroked-button color="primary" aria-label="Historial Datos Generales" matTooltip="Historial Datos Generales" (click)="getHistorialDatosGenerales()">
                            <mat-icon>assignment</mat-icon>Historial Datos Generales
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </div>
        <br>
        <div class="borde">
            <mat-card-header>
                <mat-card-title>Datos de contacto</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <br>
                <div class="row">
                    <div class="col-2">
                        <h3>Domicilios
                            <button mat-flat-button type="button" color="primary" aria-label="Agregar" matTooltip="Agregar" class="little-button" (click)="addDomicilio()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </h3>
                    </div>
                    <div class="col-5"></div>
                    <div class="col-5">
                        <a href="#">Gestión de Domicilios para Recibir Boletas Prediales</a>
                    </div>                    
                </div>
                <div class="row">
                    <div class="col">
                        <div *ngIf="dataDomicilios.length == 0; else domicilios">
                            No hay datos que mostrar ...
                        </div>
                        <ng-template #domicilios>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Tipo Dirección</th>
                                        <th>Dirección</th>
                                        <th></th>
                                        <th>Historial</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let domicilio of dataDomicilios; let i = index;">
                                        <td>{{domicilio.idtipodireccion}}</td>
                                        <td>{{domicilio.idestado}}</td>
                                        <td>
                                            <button mat-icon-button type="button" color="primary" aria-label="Editar" matTooltip="Editar" (click)="addDomicilio(i, domicilio)">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </td>
                                        <td>
                                            <button mat-icon-button type="button" color="primary" aria-label="Ver" matTooltip="Ver" (click)="viewHistorial(i, domicilio)">
                                                <mat-icon>search</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>                    
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-2">
                        <h3>Inmuebles</h3>
                    </div>                  
                </div>              
            </mat-card-content>
        </div>
        <br>
        <div class="borde">
            <mat-card-header>
                <mat-card-title>Datos de representación</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <br>
                <div class="row">
                    <div class="col-4">
                        <h3>Representantes
                            <button mat-flat-button type="button" color="primary" aria-label="Agregar" matTooltip="Agregar" class="little-button" (click)="addRepresentante()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </h3>
                    </div>
                    <div class="col-4"></div>
                    <div class="col-4"></div>                    
                </div>
                <div class="row">
                    <div class="col">
                        <div *ngIf="dataRepresentantes.length == 0; else representantes">
                            No hay datos que mostrar ...
                        </div>
                        <ng-template #representantes>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Representante</th>
                                        <th>Texto Representación</th>
                                        <th>Caducidad</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let representante of dataRepresentantes; let i = index;">
                                        <td>{{representante.nombre}}</td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <button mat-icon-button type="button" color="primary" aria-label="Editar" matTooltip="Editar" (click)="addRepresentante(i, representante)">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                            <button mat-icon-button type="button" color="primary" aria-label="Eliminar" matTooltip="Eliminar" (click)="removeRepresentante(i)">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>                    
                    </div>
                </div>           
            </mat-card-content>
        </div>

    </ng-container>

</mat-card>