<h1 mat-dialog-title class="verde-cdmx">Especificación/Consulta Documento Digital</h1>
<div mat-dialog-content>

    <div style="padding: 30px; text-align: center;" *ngIf="false">
        <mat-spinner style="margin:0 auto;"></mat-spinner>
        <p>Cargando...</p>
    </div>

    <ng-container *ngIf="true">
        <mat-vertical-stepper [linear]="true" #stepper>
            <mat-step [stepControl]="tiposDocumentoFormGroup">
                <form [formGroup]="tiposDocumentoFormGroup">
                    <ng-template matStepLabel>Selección de Documentos</ng-template>
                    <br>
                    <mat-form-field appearance="fill" class="col-6">
                        <mat-label>Tipo Documento Dígital:</mat-label>
                        <mat-select formControlName="codtipodocumento" [(ngModel)]="selectTipoDoc">
                            <mat-option value="1">Documentos Jurídicos</mat-option>
                        </mat-select>
                        <mat-error *ngIf="tiposDocumentoFormGroup.controls.codtipodocumento.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="col-6" style="margin-left: 0px!important;">
                        <mat-label>Tipo Documento Jurídico:</mat-label>
                        <mat-select formControlName="codtipodocumentojuridico" (selectionChange)="getTipoDocJuridico($event)" [disabled]="insUp">
                            <mat-option value="PN">Poder Notarial</mat-option>
                            <mat-option value="CP">Carta Poder</mat-option>
                        </mat-select>
                        <mat-error *ngIf="tiposDocumentoFormGroup.controls.codtipodocumentojuridico.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="infoDocumentoFormGroup">
                <form [formGroup]="infoDocumentoFormGroup">
                    <ng-template matStepLabel>{{dataDocumento.nombreTipoDocumentoJuridico}}
                        <button mat-flat-button type="button" color="primary" [disabled]="tiposDocumentoFormGroup.value.codtipodocumentojuridico != 'PN' || insUp" aria-label="Buscar Notario" matTooltip="Buscar Notario" class="little-button" (click)="addNotario()" [readonly]="insUp">
                            <mat-icon>search</mat-icon>
                        </button>
                    </ng-template>
                    <br>
                    <ng-container *ngIf="tiposDocumentoFormGroup.value.codtipodocumentojuridico == 'PN'">
                        <mat-form-field appearance="outline" class="col-6">
                            <mat-label>Número:</mat-label>
                            <input matInput readonly formControlName="noNotario" [readonly]="insUp" style="text-transform: uppercase;">
                            <mat-error *ngIf="infoDocumentoFormGroup.controls.noNotario.errors?.required">Requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-6" style="margin-left: 0px!important;">
                            <mat-label>Estado:</mat-label>
                            <input matInput readonly formControlName="ciudadNotario" [readonly]="insUp" style="text-transform: uppercase;">
                            <mat-error *ngIf="infoDocumentoFormGroup.controls.ciudadNotario.errors?.required">Requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-12" style="margin-left: 0px!important;">
                            <mat-label>Nombre:</mat-label>
                            <input matInput readonly formControlName="nombreNotario" [readonly]="insUp" style="text-transform: uppercase;">
                            <mat-error *ngIf="infoDocumentoFormGroup.controls.nombreNotario.errors?.required">Requerido</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-6" style="margin-left: 0px!important;">
                            <mat-label>N° Escritura:</mat-label>
                            <input matInput formControlName="num_escritura" [readonly]="insUp" style="text-transform: uppercase;">
                            <mat-error *ngIf="infoDocumentoFormGroup.controls.num_escritura.errors?.required">Requerido</mat-error>
                        </mat-form-field>
                        <div class="col-6"></div>
                    </ng-container>
                    <mat-form-field appearance="fill" class="col-6">
                        <mat-label>Fecha:</mat-label>
                        <input matInput readonly formControlName="fecha" [matDatepicker]="pickfecha">
                        <mat-datepicker-toggle matSuffix [for]="pickfecha"></mat-datepicker-toggle>
                        <mat-datepicker #pickfecha></mat-datepicker>
                        <mat-error *ngIf="infoDocumentoFormGroup.controls.fecha.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-6" style="margin-left: 0px!important;">
                        <mat-label>Lugar:</mat-label>
                        <input matInput formControlName="lugar" style="text-transform: uppercase;">
                        <mat-error *ngIf="infoDocumentoFormGroup.controls.lugar.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-12" style="margin-left: 0px!important;">
                        <mat-label>Descripción:</mat-label>
                        <textarea matInput formControlName="descripcion" rows="5" style="text-transform: uppercase;"></textarea>
                    </mat-form-field>
                    <div>
                        <button mat-button matStepperPrevious>Regresar</button>
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [stepControl]="archivosDocumentoFormGroup">
                <form [formGroup]="archivosDocumentoFormGroup">
                    <ng-template matStepLabel>Archivo Adjunto</ng-template>
                    <div class="form-group">
                        <input type="file" class="form-control" multiple (change)="getArchivos($event)" accept="application/pdf">
                    </div>
                    <br>
                    <div *ngIf="archivos.length">
                        <div formArrayName="archivos" *ngFor="let archivo of archivos.controls; let i = index;">
                            <div [formGroupName]="i">
                                <span>{{i+1}}.- {{archivo.controls.nombre.value}}</span>
                                <button mat-icon-button color="warn" aria-label="Eliminar" matTooltip="Eliminar" class="little-button" (click)="removeItem(i)">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Regresar</button>
                        <button mat-button matStepperNext>Siguiente</button>
                    </div>
                </form><br><br>
                <div *ngIf="dataDoc.length > 0">
                    <table>
                        <tr>
                            <th>Tipo Dirección</th>
                            <th>Dirección</th>
                            <th>Descargar</th>
                            <th>Elminar</th>
                        </tr>
                        <tr *ngFor="let row of dataDoc; let i = index;">
                            <td>{{ row.nombre }}</td>
                            <td>{{ row.descripcion }}</td>
                            <td><button mat-icon-button type="button" color="primary" aria-label="Descargar" matTooltip="Descargar" (click)="descargarDoc(row)">
                                <mat-icon>download</mat-icon>
                            </button></td>
                            <td><button mat-icon-button type="button" color="primary" aria-label="Eliminar" matTooltip="Eliminar" (click)="eliminarDoc(row, index)">
                                <mat-icon>delete</mat-icon>
                            </button></td>
                        </tr>
                    </table>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>Terminar</ng-template>
                <div>
                    <button mat-button matStepperPrevious>Regresar</button>
                    <button mat-button (click)="getDataDocumento()">Guardar</button>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </ng-container>

</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-flat-button color="primary" [disabled]="!canSend" [mat-dialog-close]="dataDocumento">Aceptar</button>
</mat-dialog-actions>