<mat-card>
    <div style="padding: 30px; text-align: center;" *ngIf="loading">
        <mat-spinner style="margin:0 auto;"></mat-spinner>
        <p>Cargando...</p>
    </div>
    <div class="borde" *ngIf="!loading">
        <mat-card-header style="padding-left: 7%;">
            <mat-card-title style="margin-top: 10px;">Datos perito</mat-card-title>
                <!-- <button mat-icon-button color="primary" (click)="openDialogPerito()" aria-label="Buscar Contribuyente" matTooltip="Buscar Contribuyente" [disabled]="inserto">
                    <mat-icon>search</mat-icon>
                </button> -->
            <div id="BotonBuscar" Style="display: block">
                <button mat-icon-button color="primary" (click)="this.peritoPersonaFormGroup.reset(); openDialogPerito();" aria-label="Buscar Contribuyente" matTooltip="Buscar Contribuyente" [disabled]="inserto">
                    <mat-icon>search</mat-icon>
                </button>
            </div>                    
            <div id="BotonBorrar" Style="display: none">
                <button mat-icon-button color="primary" (click)="this.peritoPersonaFormGroup.reset(); cambiaBoton();" aria-label="Borrar" matTooltip="Borrar">
                    <mat-icon>delete_outline</mat-icon>
                </button>    
            </div> 
        </mat-card-header>
        <hr>
        <br>
        <mat-card-header style="padding-left: 7%;">
            <mat-card-title>Alta de Peritos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="peritoPersonaFormGroup">
                <!-- Búsqueda por nombre -->
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                    <mat-form-field appearance="outline" class="col-10">
                        <mat-label>Nombre: *</mat-label>
                        <input matInput placeholder="Ingrese Nombre" [(ngModel)]="datoPeritos.nombre" formControlName="nombre" [readonly]="inserto" maxlength="250" style="text-transform: uppercase;">
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.nombre.errors?.required">Requerido</mat-error>
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.nombre.errors?.pattern">Existe un espacio al inicio y/o final de la cadena (cadena mínima de 3 caracteres)</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                    <mat-form-field appearance="outline" class="col-5">
                        <mat-label>Apellido Paterno: *</mat-label>
                        <input matInput placeholder="Ingrese Apellido Paterno" [(ngModel)]="datoPeritos.apepaterno" formControlName="apepaterno" [readonly]="inserto" maxlength="250" style="text-transform: uppercase;">
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.apepaterno.errors?.required">Requerido</mat-error>
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.apepaterno.errors?.pattern">Existe un espacio al inicio y/o final de la cadena (cadena mínima de 3 caracteres)</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-5">
                        <mat-label>Apellido Materno:</mat-label>
                        <input matInput placeholder="Ingrese Apellido Materno" [(ngModel)]="datoPeritos.apematerno" formControlName="apematerno" [readonly]="inserto" maxlength="250" style="text-transform: uppercase;">
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.apematerno.errors?.pattern">Existe un espacio al inicio y/o final de la cadena (cadena mínima de 3 caracteres)</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                    <mat-form-field appearance="outline" class="col-5">
                        <mat-label>RFC: **</mat-label>
                        <input matInput placeholder="Ingrese RFC" [(ngModel)]="datoPeritos.rfc" formControlName="rfc" [readonly]="inserto" [required]="isRequired" (keyup)="changeRequired()" onkeyup="this.value = this.value.toUpperCase();" style="text-transform: uppercase;" pattern="^([A-ZÑ&]{4})?(?:- ?)?(\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])) ?(?:- ?)?([A-Z\d]{2})([A\d])$" maxlength="13">
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.rfc.errors?.required">Requerido</mat-error>
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.rfc.errors?.pattern">El campo RFC debe contener 4 letras mayúsculas, 6 números y 3 alfanuméricos de la homoclave.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-5">
                        <mat-label>CURP: **</mat-label>
                        <input matInput placeholder="Ingrese CURP" [(ngModel)]="datoPeritos.curp" formControlName="curp" [readonly]="inserto" [required]="isRequired" (keyup)="changeRequired()" onkeyup="this.value = this.value.toUpperCase();" style="text-transform: uppercase;" pattern="^([A-Z][AEIOUX][A-Z]{2}\d{2}(?:0[1-9]|1[0-2])(?:0[1-9]|[12]\d|3[01])[HM](?:AS|B[CS]|C[CLMSH]|D[FG]|G[TR]|HG|JC|M[CNS]|N[ETL]|OC|PL|Q[TR]|S[PLR]|T[CSL]|VZ|YN|ZS)[B-DF-HJ-NP-TV-Z]{3}[A-Z\d])(\d)$" maxlength="18">
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.curp.errors?.required">Requerido</mat-error>
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.curp.errors?.pattern">El campo CURP debe contener 4 letras mayúsculas, 6 números, H o M, 5 letras mayúsculas, 1 alfanumérico y 1 número.</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                    <mat-form-field appearance="outline" class="col-5">
                        <mat-label>INE:</mat-label>
                        <input matInput placeholder="Ingrese INE" [(ngModel)]="datoPeritos.ine" formControlName="ine" [readonly]="inserto" maxlength="250" style="text-transform: uppercase;">
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.ine.errors?.required">Requerido</mat-error>
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.ine.errors?.pattern">Existe un espacio al inicio y/o final de la cadena (cadena mínima de 3 caracteres)</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                    <mat-form-field appearance="fill" class="col-5">
                        <mat-label>Identificación</mat-label>
                        <mat-select formControlName="identificacion" [(ngModel)]="datoPeritos.identificacion" [disabled]="inserto" [class.spinner]="loadingDocumentosIdentificativos" (selectionChange)="seleccionaDocto()">
                            <mat-option *ngFor="let documento of documentos" [value]="documento.IDDOCIDENTIF">
                                {{ documento.DESCRIPCION }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-5" *ngIf="selectDisabled">
                        <mat-label>Número de Identificación</mat-label>
                        <input matInput placeholder="Ingrese Número del documento" [(ngModel)]="datoPeritos.idedato" formControlName="idedato" [readonly]="inserto" maxlength="250" style="text-transform: uppercase;">
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.idedato.errors?.pattern">Existe un espacio al inicio y/o final de la cadena (cadena mínima de 3 caracteres)</mat-error>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                    <mat-form-field appearance="fill" class="col-5">
                        <mat-label>Fecha Nacimiento:</mat-label>
                        <input matInput [matDatepicker]="fechaNacimiento" [(ngModel)]="datoPeritos.fecha_naci" formControlName="fechaNacimiento" [disabled]="inserto" (dateChange)="fechaTope()" readonly>
                                <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
                                <mat-datepicker #fechaNacimiento></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="col-5">
                        <mat-label>Fecha Defunción:</mat-label>
                        <input matInput [matDatepicker]="fechaDefuncion" [(ngModel)]="datoPeritos.fecha_def" formControlName="fechaDefuncion" [disabled]="inserto" [min]="minDate" readonly>
                        <mat-datepicker-toggle matSuffix [for]="fechaDefuncion"></mat-datepicker-toggle>
                        <mat-datepicker #fechaDefuncion></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                    <mat-form-field appearance="outline" class="col-5">
                        <mat-label>Celular:</mat-label>
                        <input matInput placeholder="Ingrese Celular" [(ngModel)]="datoPeritos.celular" formControlName="celular" [readonly]="inserto" maxlength="10">
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.celular.errors?.pattern">Existe un espacio al inicio y/o final de la cadena o algún caracter invalido (*/-_|!¡¿?)</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-5">
                        <mat-label>E-mail: *</mat-label>
                        <input matInput type="email" [email]="true" placeholder="Ingrese E-mail" [(ngModel)]="datoPeritos.email" formControlName="email" [readonly]="inserto" maxlength="250">
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.email.errors?.required">Requerido</mat-error>
                        <mat-error *ngIf="peritoPersonaFormGroup.hasError('email', 'email') && peritoPersonaFormGroup.get('email').touched">Correo invalido</mat-error>
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.email.errors?.pattern">Existe un espacio al inicio y/o final de la cadena (cadena mínima de 3 caracteres)</mat-error>
                        
                    </mat-form-field>
                </div>
                <!-- Fin de nombre -->
                <br>
                <mat-card-header style="padding-left: 7%;">
                    <mat-card-title>Datos especificos del perito</mat-card-title>
                </mat-card-header>
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                    <mat-form-field appearance="outline" class="col-5">
                        <mat-label>Registro: *</mat-label>
                        <input matInput formControlName="registro" [(ngModel)]="datoPeritos.registro" [readonly]="inserto" maxlength="250" style="text-transform: uppercase;" placeholder="Ingrese Registro">
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.registro.errors?.required">Requerido</mat-error>
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.registro.errors?.pattern">Existe un espacio al inicio y/o final del nombre</mat-error>
                    </mat-form-field>
                        <mat-checkbox (change)="isIndependiente($event)" [disabled]="inserto" style="margin-top: 15px; margin-left: 20px;">Independiente</mat-checkbox>
                </div>
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                    <mat-form-field appearance="fill" class="col-5">
                        <mat-label>Fecha Inicio:</mat-label>
                        <input matInput formControlName="fechaInicio" [matDatepicker]="pickfechaInicio" [(ngModel)]="datoPeritos.fecha_alta" [disabled]="inserto" (dateChange)="fechaTope2()" readonly>
                        <mat-datepicker-toggle matSuffix [for]="pickfechaInicio"></mat-datepicker-toggle>
                        <mat-datepicker #pickfechaInicio></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="col-5">
                        <mat-label>Fecha Fin:</mat-label>
                        <input matInput formControlName="fechaFin" [matDatepicker]="pickfechaFin" [(ngModel)]="datoPeritos.fecha_baja" [disabled]="inserto" [min]="minDate2" readonly>
                        <mat-datepicker-toggle matSuffix [for]="pickfechaFin"></mat-datepicker-toggle>
                        <mat-datepicker #pickfechaFin></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                    <mat-form-field appearance="outline" class="col-5">
                        <mat-label>Login: *</mat-label>
                        <input matInput formControlName="login" [readonly]="inserto" maxlength="10" style="text-transform: uppercase;" placeholder="Ingrese Login">
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.login.errors?.required">Requerido</mat-error>
                        <mat-error *ngIf="peritoPersonaFormGroup.controls.login.errors?.pattern">Existe un espacio al inicio y/o final del nombre</mat-error>
                    </mat-form-field>
                </div>
            </form>
            <!-- Búsqueda por RFC CRUP -->
            
            
            
            <br>

            <div class="row">
                <div class="col-md-2 offset-md-7">
                    <div class="d-flex flex-row-reverse">
                        <button mat-stroked-button class="boton-n-representacion" color="warn" aria-label="Cancelar" [routerLink]="['/main/consulta-peritos']">
                            Cancelar
                        </button>
                    </div>
                </div>
                <div class="col-md-2" *ngIf="!btnNuevo">
                    <div class="d-flex flex-row-reverse">
                        <button mat-stroked-button class="boton-n-representacion" color="primary" aria-label="Guardar" (click)="consulta_previa()" [disabled]="peritoPersonaFormGroup.invalid">
                            Guardar
                        </button>
                    </div>
                </div>
                <div class="col-md-2" *ngIf="btnNuevo">
                    <div class="d-flex flex-row-reverse">
                        <button mat-stroked-button class="boton-n-representacion" color="primary" aria-label="Nuevo" (click)="clean()">
                            Nuevo
                        </button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </div>        
</mat-card>