<mat-dialog-actions align="end">
    <button style="border: 0px; background-color: transparent; cursor: pointer;" mat-dialog-close><mat-icon style="color: red;">clear</mat-icon></button>
</mat-dialog-actions>

<h2 class="verde-cdmx">Búsqueda de Notarios</h2>

<mat-card-content>

    <!-- Búsqueda por Datos Perosnales -->
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Nombre</mat-label>
                <input matInput [(ngModel)]="nombre" placeholder="Placeholder" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(false)">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Apellido Paterno</mat-label>
                <input matInput [(ngModel)]="apellido_paterno" placeholder="Placeholder" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(false)">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Apellido Materno</mat-label>
                <input matInput [(ngModel)]="apellido_materno" placeholder="Placeholder" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(false)">
            </mat-form-field>
        </div> 
    </div>
    <!-- Fin de Datos Personales -->


    <!-- Búsqueda por Datos Identificativos -->
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>RFC*</mat-label>
                <input matInput [(ngModel)]="rfc" placeholder="Placeholder" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>CURP*</mat-label>
                <input matInput [(ngModel)]="curp" placeholder="Placeholder" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)">
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>INE</mat-label>
                <input matInput [(ngModel)]="ine" placeholder="Placeholder" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)">
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="fill" style="width: 100%;">
                <mat-select [(ngModel)]="otro_documento" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)">
                  <mat-option>Ninguna</mat-option>
                  <mat-option value="option1">Cartilla Militar</mat-option>
                  <mat-option value="option2">Pasaporte</mat-option>
                  <mat-option value="option3">Cédula Profesional</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field appearance="outline" style="width: 100%;">
                <!-- <mat-label>INE</mat-label> -->
                <input matInput [(ngModel)]="numero_documento" placeholder="Placeholder" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)">
            </mat-form-field>
        </div>
    </div>
    <!-- Fin de Identificativos -->

    <div class="row">
        <div class="col-md-2 offset-md-8" style="padding-left: 0px;">
            <div class="d-flex flex-row-reverse">
                <button mat-stroked-button color="accent" aria-label="Limpiar Filtros" matTooltip="Limpiar Filtros" (click)="clean()">
                    Limpiar <mat-icon style="display: inherit; width: 15px;">delete</mat-icon>
                </button>
            </div>
        </div>
        <div class="col-md-2" style="padding-left: 0px;">
            <div class="d-flex flex-row-reverse">
                <button mat-stroked-button color="primary" aria-label="Busqueda" matTooltip="Buscar" (click)="getData()" [disabled]="!search">
                    Buscar <mat-icon style="display: inherit; width: 15px;">search</mat-icon>
                </button>
            </div>
        </div>
    </div>


    <h4 class="verde-cdmx">Lista de notarios</h4>

        <!-- Table generado por la búsqueda -->
        <ng-container>
            <div style="padding: 30px; text-align: center;" *ngIf="loading">
                <mat-spinner style="margin:0 auto;"></mat-spinner>
                <p>Cargando...</p>
            </div>
            <div class="alert alert-info" *ngIf="dataSource.length == 0 && !loading">
                No hay Notarios para el filtro seleccionado
            </div> 
            <table mat-table [dataSource]="dataPaginate" *ngIf="!loading && dataSource.length > 0">
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef class="verde-cdmx" style="width: 60%;"> Nombre </th>
                    <td mat-cell *matCellDef="let element" class="contenido-tabla-modal"> 
                        {{ (element.nombre) ? element.nombre : element.NOMBRE}}
                        {{ (element.apellidopaterno) ? element.apellidopaterno : element.APELLIDOPATERNO }}
                        {{ (element.apellidomaterno) ? element.apellidomaterno : element.APELLIDOMATERNO }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="datos_identificativos">
                    <th mat-header-cell *matHeaderCellDef class="verde-cdmx" style="width: 30%;"> Datos Identificativos </th>
                    <td mat-cell *matCellDef="let element" class="contenido-tabla-modal"> 
                        <b>RFC:</b> {{ (element.rfc) ? element.rfc : element.RFC }}<br>
                        <b>CURP:</b> {{ (element.curp) ? element.curp : element.CURP }} <br>
                        <b>INE:</b> {{ (element.ife) ? element.ife : element.IFE }}
                    </td>
                </ng-container>
                <ng-container matColumnDef="seleccionar">
                    <th mat-header-cell *matHeaderCellDef class="verde-cdmx" style="width: 10%;"> Seleccionar </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <mat-radio-group [(ngModel)]="notarioSeleccionado">
                            <mat-radio-button [value]="element" (change)="RegistroSelect(element)"></mat-radio-button>
                        </mat-radio-group>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[pageSize]" [showFirstLastButtons]="true" (page)="paginado($event)">
            </mat-paginator>
        </ng-container>

</mat-card-content>
<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" [disabled]="!notarioSeleccionado" [mat-dialog-close]="dataNotarioSeleccionado">Aceptar</button>
</mat-dialog-actions>