<mat-card>
    <div class="borde">
        <mat-card-header>
            <mat-card-title>Búsqueda de peritos (Consulta)</mat-card-title>
        </mat-card-header>
        <mat-card-content>
                <!-- Búsqueda por nombre -->
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                        <mat-form-field class="col-4">
                            <mat-label>Apellido Paterno</mat-label>
                            <input matInput [(ngModel)]="appaterno" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(false)">
                            <mat-error></mat-error>
                        </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                        <mat-form-field class="col-4">
                            <mat-label>Apellido Materno</mat-label>
                            <input matInput [(ngModel)]="apmaterno" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(false)">
                            <mat-error></mat-error>
                        </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                        <mat-form-field class="col-4">
                            <mat-label>Nombre</mat-label>
                            <input matInput [(ngModel)]="nombre" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(false)">
                            <mat-error></mat-error>
                        </mat-form-field>
                </div>
                <!-- Fin de nombre -->

                <!-- Búsqueda por RFC CRUP -->
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                        <mat-form-field class="col-4">
                            <mat-label>RFC</mat-label>
                            <input matInput [(ngModel)]="rfc" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)">
                            <mat-error></mat-error>
                        </mat-form-field>
                    <div class="col-1 text-center">
                    </div>
                        <mat-form-field class="col-4">
                            <mat-label>CURP</mat-label>
                            <input matInput [(ngModel)]="curp" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)">
                            <mat-error></mat-error>
                        </mat-form-field>
                </div>
                <!-- Fin de RFC CRUP -->

                <!-- Búsqueda por OTROS -->
                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                        <mat-form-field class="col-4">
                            <mat-label>INE</mat-label>
                            <input matInput [(ngModel)]="ine" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)">
                            <mat-error></mat-error>
                        </mat-form-field>
                        <div class="col-1 text-center">
                        </div>
                        <mat-form-field class="col-4">
                            <mat-label>Registro</mat-label>
                            <input matInput [(ngModel)]="registro" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)">
                            <mat-error></mat-error>
                        </mat-form-field>                    
                </div>
                <!-- Fin de OTROS -->

                <div class="row">
                    <div class="col-1 text-center">
                    </div>
                    <mat-form-field class="col-5">
                        <mat-label>Identificación</mat-label>
                        <mat-select [(ngModel)]="identificacion" [required]="true" (ngModelChange)="validateSearch();clearInputsIdentNoIdent(true)">
                            <mat-option value="1">Cédula profecional</mat-option>
                            <mat-option value="2">Pasaporte</mat-option>
                            <mat-option value="3">Licencia de conducir</mat-option>
                            <mat-option value="4">Número de seguro social</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="col-5">
                        <mat-label></mat-label>
                        <input matInput [(ngModel)]="idedato" [required]="true" (ngModelChange)="validateSearch()" (keyup)="clearInputsIdentNoIdent(true)">
                    </mat-form-field>
                </div>

            <div class="row">
                <div class="col-2">

                </div>
                <div class="col">
                    <div class="d-flex flex-row-reverse">
                        
                        <button mat-icon-button color="primary" aria-label="Limpiar Filtros" matTooltip="Limpiar Filtros" (click)="clean()">
                            <mat-icon>clear</mat-icon>
                        </button>
                        <button mat-icon-button color="primary" aria-label="Busqueda" matTooltip="Buscar" (click)="getPerito()" [disabled]="!search">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="col-6">
                </div>
            </div>

        
            <br>
            <ng-container>
                <div style="padding: 30px; text-align: center;" *ngIf="loading">
                    <mat-spinner style="margin:0 auto;"></mat-spinner>
                    <p>Cargando...</p>
                </div>
                <div class="alert alert-info" *ngIf="dataSource.length == 0 && !loading">
                    No hay Peritos para el filtro seleccionado
                </div> 
                <table mat-table [dataSource]="dataPaginate" *ngIf="!loading && dataSource.length > 0">
                    <ng-container matColumnDef="registro">
                        <th mat-header-cell *matHeaderCellDef> Registro </th>
                        <td mat-cell *matCellDef="let element"> {{(element.registro) ?  element.registro : element.REGISTRO}}</td>
                    </ng-container>
                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef> Nombre </th>
                        <td mat-cell *matCellDef="let element"> 
                            {{ (element.nombre) ? element.nombre : element.NOMBRE}}
                            {{ (element.apellidopaterno) ? element.apellidopaterno : element.APELLIDOPATERNO }}
                            {{ (element.apellidomaterno) ? element.apellidomaterno : element.APELLIDOMATERNO }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="datos">
                        <th mat-header-cell *matHeaderCellDef> Datos Identificativos </th>
                        <td mat-cell *matCellDef="let element"> 
                            RFC: {{ (element.rfc) ? element.rfc : element.RFC }}<br>
                            CURP: {{ (element.curp) ? element.curp : element.CURP }} <br>
                            INE: {{ (element.ife) ? element.ife : element.IFE }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="select">
                        <th mat-header-cell *matHeaderCellDef> Seleccionar </th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-stroked-button color="primary" aria-label="Ver Perito" matTooltip="Ver Perito" [routerLink]="['/main/ver-peritos', (element.idperito) ? element.idperito : element.IDPERITO]">
                                Ver
                            </button>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[pageSize]" [showFirstLastButtons]="true" (page)="paginado($event)">
                </mat-paginator>
            </ng-container>
        </mat-card-content>
    </div>
</mat-card>