<h1 mat-dialog-title>SE HA ENCONTRADO UN REGISTRO</h1>
<div mat-dialog-content>
    <div *ngIf="bandeja == 3">
        <h4>
            <p>No se ha podido realizar el alta.</p>
            <p>La persona física ya es un perito con clave: {{ (registro) }}</p>
        </h4>
    </div>
    <div *ngIf="bandeja == 4">
        <h4>
            <p>La persona física seleccionada ya es un perito.</p>
            <p>Se cargarán sus datos en modo edición</p>
        </h4>
    </div>
    <div *ngIf="bandeja == 5">
        <h4>
            <p>No se ha podido realizar el alta.</p>
            <p>La persona moral ya es una sociedad con clave: {{ (registro) }}</p>
        </h4>
    </div>
    <div *ngIf="bandeja == 6">
        <h4>
            <p>La persona moral seleccionada ya es una sociedad.</p>
            <p>Se cargarán sus datos en modo edición</p>
        </h4>
    </div>
</div>
<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" [mat-dialog-close]="true">Aceptar</button>
</mat-dialog-actions>