<mat-selection-list #men [multiple]="false">
    <ng-container *ngFor="let menu of menus; let i = index">
        <mat-list-option [routerLink]="'/main'">
            <mat-icon matListIcon>{{menu.icono}}</mat-icon>
            {{menu.nombre}}
        </mat-list-option>
        <ng-container *ngIf="menu.ruta === '/contribuyentes'">
            <mat-nav-list style="margin-left: -10px; font-size: 16px;">
                <ul style="list-style: none;">
                    <li  class="li_menu" style="padding-top: 10px; padding-bottom: 10px; cursor: pointer;" *ngFor="let opcion of contribuyentes" [routerLink]="opcion.ruta" [ngClass]="{'verde': step === opcion.ruta}" (click)="elactive(opcion.ruta)"><mat-icon>{{opcion.icono}}</mat-icon> {{opcion.nombre}}</li>
                </ul>
            </mat-nav-list>
        </ng-container>
        <ng-container *ngIf="menu.ruta === '/notarios'">
            <mat-nav-list style="margin-left: -10px; font-size: 16px;">
                <ul style="list-style: none;">
                    <li  class="li_menu" style="padding-top: 10px; padding-bottom: 10px; cursor: pointer;" *ngFor="let opcion of notarios" [routerLink]="opcion.ruta" [ngClass]="{'verde' : step2 === opcion.ruta}" (click)="elactive(opcion.ruta)" id="notario{{opcion.identificador}}"><mat-icon>{{opcion.icono}}</mat-icon> {{opcion.nombre}}</li>
                </ul>
            </mat-nav-list>
        </ng-container>
        <ng-container *ngIf="menu.ruta === '/peritos'">
            <mat-nav-list style="margin-left: -10px; font-size: 16px;">
                <ul style="list-style: none;">
                    <li  class="li_menu" style="padding-top: 10px; padding-bottom: 10px; cursor: pointer;" *ngFor="let opcion of peritos" [routerLink]="opcion.ruta" [ngClass]="{'verde': step3 === opcion.ruta}" (click)="elactive(opcion.ruta)" id="perito{{opcion.identificador}}"><mat-icon>{{opcion.icono}}</mat-icon> {{opcion.nombre}}</li>
                </ul>
            </mat-nav-list>
        </ng-container>
        <ng-container *ngIf="menu.ruta === '/sociedad'">
            <mat-nav-list style="margin-left: -10px; font-size: 16px;">
                <ul style="list-style: none;">
                    <li  class="li_menu" style="padding-top: 10px; padding-bottom: 10px; cursor: pointer;" *ngFor="let opcion of sociedad" [routerLink]="opcion.ruta"  [ngClass]="{'verde': step4 === opcion.ruta}" (click)="elactive(opcion.ruta)" id="sociedad{{opcion.identificador}}"><mat-icon>{{opcion.icono}}</mat-icon> {{opcion.nombre}}</li>
                </ul>
            </mat-nav-list>
        </ng-container>
        <ng-container *ngIf="menu.ruta === '/sociedad'">
            <mat-nav-list style="margin-left: -10px; font-size: 16px;">
                <ul style="list-style: none;">
                    <li  class="li_menu" style="padding-top: 10px; padding-bottom: 10px; cursor: pointer;" *ngFor="let opcion of reporte" [routerLink]="opcion.ruta"  [ngClass]="{'verde': step4 === opcion.ruta}" (click)="elactive(opcion.ruta)" id="sociedad{{opcion.identificador}}"><mat-icon>{{opcion.icono}}</mat-icon> {{opcion.nombre}}</li>
                </ul>
            </mat-nav-list>
        </ng-container>
    </ng-container>
</mat-selection-list>




