<h1 mat-dialog-title class="verde-cdmx">Domicilio</h1>
<div mat-dialog-content>
    <style>
        input{text-transform: uppercase;}
    </style>
    <div style="padding: 30px; text-align: center;" *ngIf="loadingEstados">
        <mat-spinner style="margin:0 auto;"></mat-spinner>
        <p>Cargando...</p>
    </div>
    <div>
       
    </div>
    <ng-container *ngIf="!loadingEstados">
        <form [formGroup]="domicilioFormGroup">
            <div class="row">
                <mat-form-field appearance="fill" class="col-6">
                    <mat-label>Estado:</mat-label>
                    <mat-select formControlName="idestado" (selectionChange)="getDataMunicipios($event)" [(ngModel)]="idestadoNg">
                        <mat-option *ngFor="let estado of estados" [value]="estado.CODESTADO">
                            {{ estado.ESTADO }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="domicilioFormGroup.controls.idestado.errors?.required">Requerido</mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill" class="col-6" *ngIf="domicilioFormGroup.controls.idestado.value == 9" style="margin-left: 0px!important;">
                    <mat-label>Alcaldía:</mat-label>
                    <mat-select formControlName="idmunicipio" [class.spinner]="loadingMunicipios" [disabled]="loadingMunicipios"  (selectionChange)="getNombreDel($event)" >
                        <mat-option value="">Seleccione ...</mat-option>
                        <mat-option *ngFor="let municipio of municipios" [value]="(municipio.CODMUNICIPIO) ? municipio.CODMUNICIPIO : municipio.iddelegacion">
                            {{ (municipio.MUNICIPIO) ? municipio.MUNICIPIO : municipio.nombre }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="domicilioFormGroup.controls.idmunicipio.errors?.required">Requerido</mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="domicilioFormGroup.controls.idestado.value != 9">
                <div class="row">
                    <mat-form-field appearance="outline" class="col-3">
                        <mat-label>Municipio:</mat-label>
                        <input matInput formControlName="idmunicipio2" [(ngModel)]="idmunicipio2Ng" [readonly]="true">
                        <mat-error *ngIf="domicilioFormGroup.controls.idmunicipio2.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-7">
                        <mat-label></mat-label>
                        <input matInput formControlName="municipio" [(ngModel)]="municipioNg" [readonly]="true">
                        <mat-error *ngIf="domicilioFormGroup.controls.municipio.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                    <button mat-icon-button color="primary" aria-label="Busqueda" matTooltip="Buscar" (click)="getMunicipios()" [disabled]="botonMunicipio" style="margin-top: 10px;">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
                <div class="row">
                    <mat-form-field appearance="outline" class="col-3">
                        <mat-label>Ciudad:</mat-label>
                        <input matInput formControlName="idciudad" [(ngModel)]="idciudadNg" [readonly]="true">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="col-7">
                        <mat-label></mat-label>
                        <input matInput formControlName="ciudad" [(ngModel)]="ciudadNg" [readonly]="true">
                        <mat-error *ngIf="domicilioFormGroup.controls.ciudad.errors?.required">Requerido</mat-error>
                    </mat-form-field>
                    <button mat-icon-button color="primary" aria-label="Busqueda" matTooltip="Buscar" (click)="getCiudad()" [disabled]="botonCiudad" style="margin-top: 10px;">
                        <mat-icon>search</mat-icon>
                    </button>
                </div>
            </div>
            
            <div class="row">
                <mat-form-field appearance="outline" class="col-3">
                    <mat-label>Asentamiento:</mat-label>
                    <input matInput formControlName="codasentamiento" [(ngModel)]="codasentamientoNg" [readonly]="true">
                    <mat-error *ngIf="domicilioFormGroup.controls.codasentamiento.errors?.required">Requerido</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-5">
                    <mat-label></mat-label>
                    <input matInput formControlName="asentamiento" [(ngModel)]="asentamientoNg" [readonly]="true">
                    <mat-error *ngIf="domicilioFormGroup.controls.asentamiento.errors?.required">Requerido</mat-error>
                </mat-form-field>
                <button mat-icon-button color="primary" aria-label="Busqueda" matTooltip="Buscar" (click)="getAsentamiento()" [disabled]="botonAsentamiento" style="margin-top: 10px;">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="col-6">
                    <mat-label>Tipo Asent.:</mat-label>
                    <mat-select formControlName="idtipoasentamiento" [class.spinner]="loadingTiposAsentamiento" [disabled]="true" [(ngModel)]="idtipoasentamientoNg">
                        <mat-option value="">Seleccione ...</mat-option>
                        <mat-option *ngFor="let asentamiento of tiposAsentamiento" [value]="asentamiento.codtiposasentamiento">
                            {{ asentamiento.tipoasentamiento }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-4">
                    <mat-label>Código Postal:</mat-label>
                    <input matInput formControlName="cp" [(ngModel)]="cpNg" [readonly]="true">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="col-6">
                    <mat-label>Tipo de vía:</mat-label>
                    <mat-select formControlName="codtiposvia" [(ngModel)]="codtiposviaNg">
                        <mat-option value="">Seleccione ...</mat-option>
                        <mat-option *ngFor="let tipovia of tiposVia" [value]="tipovia.codtiposvia">
                            {{ tipovia.tipovia }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="fill" class="col-3">
                    <mat-label>Vía:</mat-label>
                    <input matInput formControlName="idtipovia" [(ngModel)]="idtipoviaNg" [readonly]="true">
                    <mat-error *ngIf="domicilioFormGroup.controls.idtipovia.errors?.required">Requerido</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-7">
                    <mat-label></mat-label>
                    <input matInput formControlName="via" [(ngModel)]="viaNg" [readonly]="true">
                    <mat-error *ngIf="domicilioFormGroup.controls.via.errors?.required">Requerido</mat-error>
                </mat-form-field>
                <button mat-icon-button color="primary" aria-label="Busqueda" matTooltip="Buscar" (click)="getVia()" [disabled]="botonVia" style="margin-top: 10px;">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
            <div class="row">
                <mat-form-field appearance="fill" class="col-6">
                    <mat-label>Tipo Localidad:</mat-label>
                    <mat-select formControlName="idtipolocalidad" [(ngModel)]="idtipolocalidadNg">
                        <mat-option value="">Seleccione ...</mat-option>
                        <mat-option *ngFor="let tipolocalidad of tiposLocalidad" [value]="tipolocalidad.codtiposlocalidad">
                            {{ tipolocalidad.descripcion }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="col-6">
                    <mat-label>Número Exterior:</mat-label>
                    <input matInput formControlName="nexterior" [(ngModel)]="nexteriorNg">
                    <mat-error *ngIf="domicilioFormGroup.controls.nexterior.errors?.required">Requerido</mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="col-6">
                    <mat-label>Entre Calle 1:</mat-label>
                    <input matInput formControlName="entrecalle1" [(ngModel)]="entrecalle1Ng">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-6" style="margin-left: 0px!important;">
                    <mat-label>Entre Calle 2:</mat-label>
                    <input matInput formControlName="entrecalle2" [(ngModel)]="entrecalle2Ng">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="col-6">
                    <mat-label>Andador:</mat-label>
                    <input matInput formControlName="andador" [(ngModel)]="andadorNg">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-6" style="margin-left: 0px!important;">
                    <mat-label>Edificio:</mat-label>
                    <input matInput formControlName="edificio" [(ngModel)]="edificioNg">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="col-6">
                    <mat-label>Sección:</mat-label>
                    <input matInput formControlName="seccion" [(ngModel)]="seccionNg" maxlength="10">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-6" style="margin-left: 0px!important;">
                    <mat-label>Entrada:</mat-label>
                    <input matInput formControlName="entrada" [(ngModel)]="entradaNg">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="col-6">
                    <mat-label>Número Interior:</mat-label>
                    <input matInput formControlName="ninterior" [(ngModel)]="ninteriorNg">
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-6" style="margin-left: 0px!important;">
                    <mat-label>Teléfono:</mat-label>
                    <input matInput formControlName="telefono" [(ngModel)]="telefonoNg" maxlength="10">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline" class="col-12">
                    <mat-label>Ind. adicionales:</mat-label>
                    <input matInput formControlName="adicional" [(ngModel)]="adicionalNg">
                </mat-form-field>
            </div>
        </form>
    </ng-container>

</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
    <button mat-flat-button color="primary" [disabled]="domicilioFormGroup.invalid" mat-dialog-close (click)="getDataDomicilio()">Aceptar</button>
</mat-dialog-actions>