<mat-card>
    <div class="borde">
        <h1 class="titulo-cdmx" style="margin-top: 15px;">Datos del Perito</h1>
        <!-- <mat-card-header>
            <mat-card-title>Datos Perito</mat-card-title>
        </mat-card-header> -->
        <mat-card-header style="padding-left: 7%;">
            <mat-card-title>Datos de persona física</mat-card-title>
        </mat-card-header>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <ng-container *ngIf="!loading">
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Apellido Paterno</mat-label>
                                <input matInput placeholder="Placeholder" [disabled]="true" [(ngModel)]="datoPeritos.apepaterno">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Apellido Materno</mat-label>
                                <input matInput placeholder="Placeholder" [disabled]="true" [(ngModel)]="datoPeritos.apematerno">
                            </mat-form-field>
                        </div> 
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Nombre</mat-label>
                                <input matInput placeholder="Placeholder" [disabled]="true" [(ngModel)]="datoPeritos.nombre">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>RFC*</mat-label>
                                <input matInput placeholder="Placeholder" [disabled]="true" [(ngModel)]="datoPeritos.rfc">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>CURP*</mat-label>
                                <input matInput placeholder="Placeholder" [disabled]="true" [(ngModel)]="datoPeritos.curp">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>INE</mat-label>
                                <input matInput placeholder="Placeholder" [disabled]="true" [(ngModel)]="datoPeritos.ine">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Identificación</mat-label>
                                <mat-select [disabled]="true" [(ngModel)]="datoPeritos.identificacion">
                                    <mat-option *ngFor="let documento of documentos" [value]="documento.IDDOCIDENTIF">
                                        {{ documento.DESCRIPCION }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <!-- <mat-label>INE</mat-label> -->
                                <input matInput placeholder="Identificación" [disabled]="true" [(ngModel)]="datoPeritos.identificacion">
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Fecha Nacimiento</mat-label>
                                <input matInput [matDatepicker]="fechaNacimiento" [disabled]="true" [(ngModel)]="datoPeritos.fecha_naci">
                                <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
                                <mat-datepicker #fechaNacimiento></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Fecha Defunción</mat-label>
                                <input matInput [matDatepicker]="fechaDefuncion" [disabled]="true" [(ngModel)]="datoPeritos.fecha_def">
                                <mat-datepicker-toggle matSuffix [for]="fechaDefuncion"></mat-datepicker-toggle>
                                <mat-datepicker #fechaDefuncion></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Celular</mat-label>
                                <input matInput placeholder="Placeholder" [disabled]="true" [(ngModel)]="datoPeritos.celular">
                            </mat-form-field>
                        </div>
                        <div class="col-md-4">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>E-Mail</mat-label>
                                <input matInput placeholder="Placeholder" [disabled]="true" [(ngModel)]="datoPeritos.email">
                            </mat-form-field>
                        </div>
                    </div>

                    <mat-card-header>
                        <h3 style="margin: 0 0 15px; margin-left: -32px;" class="verde-cdmx">Datos especifícos del perito:</h3>
                    </mat-card-header>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" style="width: 100%;">
                                <mat-label>Registro*</mat-label>
                                <input matInput placeholder="Placeholder" [disabled]="true" [(ngModel)]="datoPeritos.registro">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6" style="padding-top: 15px;">
                                <mat-checkbox [disabled]="true" [disabled]="true" [checked]="datoPeritos.independiente">Independiente</mat-checkbox>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Fecha Alta</mat-label>
                                <input matInput [matDatepicker]="fechaAlta" [disabled]="true" [(ngModel)]="datoPeritos.fecha_alta">
                                <mat-datepicker-toggle matSuffix [for]="fechaAlta"></mat-datepicker-toggle>
                                <mat-datepicker #fechaAlta></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="fill" style="width: 100%;">
                                <mat-label>Fecha Baja</mat-label>
                                <input matInput [matDatepicker]="fechaBaja" [disabled]="true" [(ngModel)]="datoPeritos.fecha_baja">
                                <mat-datepicker-toggle matSuffix [for]="fechaBaja"></mat-datepicker-toggle>
                                <mat-datepicker #fechaBaja></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </ng-container>

                <mat-card-header>
                    <h3 style="margin: 0 0 15px; margin-left: -32px;" class="verde-cdmx">Sociedades Asociadas:</h3>
                </mat-card-header>
                <ng-container>
                    <div style="padding: 30px; text-align: center;" *ngIf="loading">
                        <mat-spinner style="margin:0 auto;"></mat-spinner>
                        <p>Cargando...</p>
                    </div>
                    <div class="alert alert-info" *ngIf="!loading && dataSource.length == 0">
                        No hay registros para el filtro seleccionado
                    </div> 
                    <!-- <table mat-table [dataSource]="dataSource" *ngIf="!loading && dataSource.length > 0"> -->
                    <table mat-table [dataSource]="dataSource" *ngIf="!loading && dataSource.length > 0">
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx"> Nombre </th>
                            <td mat-cell *matCellDef="let element"> {{ element.razonsocial }}</td>
                        </ng-container>
                        <ng-container matColumnDef="registro">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx"> Registro </th>
                            <td mat-cell *matCellDef="let element"> {{element.registro}}</td>
                        </ng-container>
                        <ng-container matColumnDef="rfc">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx"> RFC </th>
                            <td mat-cell *matCellDef="let element"> {{ element.rfc }}</td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator #paginator [length]="total" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado($event)">
                    </mat-paginator>
                </ng-container>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-9">
                <div class="d-flex flex-row-reverse">
                    <button mat-stroked-button class="boton-n-representacion" color="warn" aria-label="Cancelar" [routerLink]="['/main/consulta-peritos']">
                        Cancelar
                    </button>
                </div>
            </div>
        </div><br>

        <!-- ***************** -->
        <!-- Datos de contacto -->
        <!-- ***************** -->
        <mat-card-header style="padding-left: 7%;">
            <mat-card-title>Datos de contacto</mat-card-title>
        </mat-card-header>

        <!-- Domicilios -->
        <mat-card-header style="padding-left: 7%;">
            <h3 style="margin: 0 0 15px;" class="verde-cdmx">Domicilios:</h3>
        </mat-card-header>
        <div class="col-md-10 offset-md-1">
            <ng-container>
                <div style="padding: 30px; text-align: center;" *ngIf="loadingDomicilios">
                    <mat-spinner style="margin:0 auto;"></mat-spinner>
                    <p>Cargando...</p>
                </div>
                <div class="alert alert-info" *ngIf="!loadingDomicilios && dataSource1.length == 0">
                    No hay direcciones asociadas.
                </div> 
                <table mat-table [dataSource]="dataSource1" *ngIf="!loadingDomicilios && dataSource1.length > 0" width="100%">
                    <ng-container matColumnDef="tipoDir">
                        <th mat-header-cell *matHeaderCellDef  class="verde-cdmx" width="11%" style="text-align: center; font-size: 13px; padding-left: 0px;"> Tipo Dirección </th>
                        <td mat-cell *matCellDef="let element" style="text-align: center; font-size: 13px; padding-left: 0px;"> {{ element.CODTIPOSDIRECCION }}</td>
                    </ng-container>
                    <ng-container matColumnDef="direccion">
                        <th mat-header-cell *matHeaderCellDef  class="verde-cdmx" width="89%" style="font-size: 13px;"> Dirección </th>
                        <td mat-cell *matCellDef="let element" style="font-size: 13px;">
                            {{ element.ABREVIATURAVIA }}, {{ element.VIA }} {{ element.NUMEROEXTERIOR }}, Col: {{ element.COLONIA}}
                            C.P. {{ element.CODIGOPOSTAL}}, {{ element.DELEGACION}} ({{ element.ESTADO }})
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsDom"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsDom;"></tr>
                </table>
                <mat-paginator #paginator [length]="total1" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado1($event)">
                </mat-paginator>
            </ng-container>
        </div>

        <!-- Gestión de Domicilios para Recibir Boletas Prediales -->
        <mat-card-header style="padding-left: 7%;">
            <h3 style="margin: 0 0 15px;" class="verde-cdmx">Gestión de Domicilios para Recibir Boletas Prediales:</h3>
        </mat-card-header>
        <div class="col-md-10 offset-md-1">
            <ng-container>
                <div style="padding: 30px; text-align: center;" *ngIf="loadingDomicilios">
                    <mat-spinner style="margin:0 auto;"></mat-spinner>
                    <p>Cargando...</p>
                </div>
                <div class="alert alert-info" *ngIf="!loadingDomicilios && dataSource2.length == 0">
                    No hay direcciones asociadas.
                </div> 
                <table mat-table [dataSource]="dataSource2" *ngIf="!loadingDomicilios && dataSource2.length > 0" width="100%">
                    <ng-container matColumnDef="tipoDir">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="11%" style="text-align: center; font-size: 13px; padding-left: 0px;"> Tipo Dirección </th>
                        <td mat-cell *matCellDef="let element" style="text-align: center; font-size: 13px; padding-left: 0px;"> {{ element.CODTIPOSDIRECCION }}</td>
                    </ng-container>
                    <ng-container matColumnDef="direccion">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="89%" style="font-size: 13px;"> Dirección </th>
                        <td mat-cell *matCellDef="let element" style="font-size: 13px;">
                            {{ element.ABREVIATURAVIA }}, {{ element.VIA }} {{ element.NUMEROEXTERIOR }}, Col: {{ element.COLONIA}}
                            C.P. {{ element.CODIGOPOSTAL}}, {{ element.DELEGACION}} ({{ element.ESTADO }})
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsDom"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsDom;"></tr>
                </table>
                <mat-paginator #paginator [length]="total2" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado2($event)">
                </mat-paginator>
            </ng-container>                    
        </div>



        <!-- *********************** -->
        <!-- Datos de representación -->
        <!-- *********************** -->
        <mat-card-header style="padding-left: 7%;">
            <mat-card-title>Datos de representación</mat-card-title><br>
        </mat-card-header>

        <!-- Representantes -->
        <mat-card-header style="padding-left: 7%;">
            <h3 style="margin: 0 0 15px;" class="verde-cdmx">Representante:</h3>
        </mat-card-header>
        <div class="col-md-10 offset-md-1">
            <ng-container>
                <div style="padding: 30px; text-align: center;" *ngIf="loadingRepresentante">
                    <mat-spinner style="margin:0 auto;"></mat-spinner>
                    <p>Cargando...</p>
                </div>
                <div class="alert alert-info" *ngIf="!loadingRepresentante && dataSource4.length == 0">
                    No hay representantes asociados.
                </div> 
                <table mat-table [dataSource]="dataSource4" *ngIf="!loadingRepresentante && dataSource4.length > 0" width="100%">
                    <ng-container matColumnDef="representacion">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="15%" style="font-size: 13px;"> Tipo Dirección </th>
                        <td mat-cell *matCellDef="let element" style="font-size: 13px;">
                            {{ element.APELLIDOPATERNO }} {{ element.APELLIDOMATERNO }} {{ element.NOMBRE }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="texto">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="70%" style="font-size: 13px;"> Texto </th>
                        <td mat-cell *matCellDef="let element" style="font-size: 13px;">
                            {{ element.TEXTOREPRESENTACION }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="caducidad">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="15%" style="font-size: 13px;"> Caducidad </th>
                        <td mat-cell *matCellDef="let element" style="font-size: 13px;">
                            {{ element.FECHACADUCIDAD }}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsRepdo"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsRepdo;"></tr>
                </table>
                <mat-paginator #paginator [length]="total4" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado4($event)">
                </mat-paginator>
            </ng-container>
        </div>

        <!-- Representados -->
        <mat-card-header style="padding-left: 7%;">
            <h3 style="margin: 0 0 15px;" class="verde-cdmx">Representado:</h3>
        </mat-card-header>
        <div class="col-md-10 offset-md-1">
            <ng-container>
                <div style="padding: 30px; text-align: center;" *ngIf="loadingRepresentado">
                    <mat-spinner style="margin:0 auto;"></mat-spinner>
                    <p>Cargando...</p>
                </div>
                <div class="alert alert-info" *ngIf="!loadingRepresentado && dataSource5.length == 0">
                    No hay representantes asociados.
                </div> 
                <table mat-table [dataSource]="dataSource5" *ngIf="!loadingRepresentado && dataSource5.length > 0" width="100%">
                    <ng-container matColumnDef="representacion">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="15%" style="font-size: 13px;"> Tipo Dirección </th>
                        <td mat-cell *matCellDef="let element" style="font-size: 13px;">
                            {{ element.APELLIDOPATERNO }} {{ element.APELLIDOMATERNO }} {{ element.NOMBRE }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="texto">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="70%" style="font-size: 13px;"> Texto </th>
                        <td mat-cell *matCellDef="let element" style="font-size: 13px;">
                            {{ element.TEXTOREPRESENTACION }}
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="caducidad">
                        <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="15%" style="font-size: 13px;"> Caducidad </th>
                        <td mat-cell *matCellDef="let element" style="font-size: 13px;">
                            {{ element.FECHACADUCIDAD }}
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsRepdo"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsRepdo;"></tr>
                </table>
                <mat-paginator #paginator [length]="total5" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado5($event)">
                </mat-paginator>
            </ng-container>
        </div>

    </div>
</mat-card>