.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after{color:#666!important; font-weight: 600;}

input,textarea{text-transform: uppercase;}

.mat-card-header .mat-card-title {
    color: #43A047;
    font-size: 20px;
    margin: 5% 0 5% 0;
}

.borde {
    border: 2px solid rgb(155, 154, 154);
    padding-left: 10px;
    padding-right: 10px;
}