<mat-card>
    <div class="borde">
        <h1 class="titulo-cdmx" style="margin-top: 15px; margin-bottom: 20px;">Datos del notario</h1>

        <!-- ***************** -->
        <!-- Datos Generales -->
        <!-- ***************** -->
        <mat-card-header style="padding-left: 7%;">
            <mat-card-title>Datos Generales</mat-card-title>
        </mat-card-header>
        <div style="padding: 30px; text-align: center;" *ngIf="loading">
            <mat-spinner style="margin:0 auto;"></mat-spinner>
            <p>Cargando...</p>
        </div>
        <br>
        <div class="row" *ngIf="!loading">
            <mat-form-field appearance="outline" style="width: 100%;" class="col-5 offset-1">
                <mat-label>No. Notario</mat-label>
                <input matInput placeholder="Placeholder" [disabled]="true" [(ngModel)]="datosNotario.no_notario">
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 100%;" class="col-5">
                <mat-label>Estado:</mat-label>
                <mat-select #estado [disabled]="true" [(ngModel)]="datosNotario.estado">
                    <mat-option *ngFor="let estado of estados" [value]="estado.CODESTADO">
                        {{ estado.ESTADO }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row" *ngIf="!loading">
            <mat-form-field appearance="outline" style="width: 100%;" class="col-10 offset-1">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Placeholder" [disabled]="true" [(ngModel)]="datosNotario.nombre">
            </mat-form-field>
        </div>
        <div class="row" *ngIf="!loading">
                <mat-form-field appearance="outline" style="width: 100%;" class="col-5 offset-1">
                    <mat-label>Apellido Paterno</mat-label>
                    <input matInput placeholder="Placeholder" [disabled]="true" [(ngModel)]="datosNotario.apellido_paterno">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;" class="col-5">
                    <mat-label>Apellido Materno</mat-label>
                    <input matInput placeholder="Placeholder" [disabled]="true" [(ngModel)]="datosNotario.apellido_materno">
                </mat-form-field>
        </div>

        <div class="row" *ngIf="!loading">
                <mat-form-field appearance="outline" style="width: 100%;" class="col-5 offset-1">
                    <mat-label>RFC*</mat-label>
                    <input matInput placeholder="Placeholder" [disabled]="true" [(ngModel)]="datosNotario.rfc">
                </mat-form-field>
                <mat-form-field appearance="outline" style="width: 100%;" class="col-5">
                    <mat-label>CURP*</mat-label>
                    <input matInput placeholder="Placeholder" [disabled]="true" [(ngModel)]="datosNotario.curp">
                </mat-form-field>
        </div>

        <div class="row" *ngIf="!loading">
            <mat-form-field appearance="outline" style="width: 100%;" class="col-4 offset-1">
                <mat-label>INE</mat-label>
                <input matInput placeholder="Ingrese INE" [disabled]="true" [(ngModel)]="datosNotario.ine" maxlength="18">
                <!-- <mat-error *ngIf="notarioFormGroup.controls.ine.errors?.pattern">El campo INE debe contener 6 letras mayúsculas, 8 números, H o M y 3 números.</mat-error> -->
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 100%;" class="col-3">
                <mat-label>Otro Documento:</mat-label>
                <mat-select #otro_documento [disabled]="true" [(ngModel)]="datosNotario.otro_documento">
                    <mat-option *ngFor="let documento of documentos" [value]="documento.IDDOCIDENTIF">
                        {{ documento.DESCRIPCION }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;" class="col-3">
                <mat-label>Número Documento</mat-label>
                <input matInput #numero_documento [disabled]="true" [(ngModel)]="datosNotario.numero_documento" placeholder="Número documento">
            </mat-form-field>
        </div>

        <div class="row" *ngIf="!loading">
            <mat-form-field appearance="fill" style="width: 100%;" class="col-5 offset-1">
                <mat-label>Fecha Nacimiento</mat-label>
                <input matInput [matDatepicker]="picknacimiento" [disabled]="true" [(ngModel)]="datosNotario.fecha_nacimiento">
                <mat-datepicker-toggle matSuffix [for]="picknacimiento"></mat-datepicker-toggle>
                <mat-datepicker #picknacimiento></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 100%;" class="col-5">
                <mat-label>Fecha Defunción</mat-label>
                <input matInput [matDatepicker]="pickdefuncion" [disabled]="true" [(ngModel)]="datosNotario.fecha_defuncion">
                <mat-datepicker-toggle matSuffix [for]="pickdefuncion"></mat-datepicker-toggle>
                <mat-datepicker #pickdefuncion></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row" *ngIf="!loading">
            <mat-form-field appearance="outline" style="width: 100%;" class="col-5 offset-1">
                <mat-label>Celular</mat-label>
                <input matInput placeholder="Placeholder" [disabled]="true" [(ngModel)]="datosNotario.celular">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%;" class="col-5">
                <mat-label>E-Mail</mat-label>
                <input matInput placeholder="Placeholder" [disabled]="true" [(ngModel)]="datosNotario.email" style="text-transform: none;">
            </mat-form-field>
        </div>

      

        <!-- ***************** -->
        <!-- Datos de contacto -->
        <!-- ***************** -->
        <mat-card-header style="padding-left: 7%;">
            <mat-card-title>Datos de contacto</mat-card-title>
        </mat-card-header>

        <!-- Domicilios -->
        <mat-card-header style="padding-left: 7%;">
            <h3 style="margin: 0 0 15px;" class="verde-cdmx">Domicilios:</h3>
        </mat-card-header>
        <div style="padding: 30px; text-align: center;" *ngIf="loadingDomicilios">
            <mat-spinner style="margin:0 auto;"></mat-spinner>
            <p>Cargando...</p>
        </div>
        <div class="row" *ngIf="!loadingDomicilios">
            <div class="col-md-10 offset-1">
                <ng-container>
                    
                    <div class="alert alert-info" *ngIf="!loadingDomicilios && dataSource.length == 0">
                        No hay direcciones asociadas.
                    </div> 
                    <table mat-table [dataSource]="dataSource" *ngIf="!loadingDomicilios && dataSource.length > 0" width="100%">
                        
                        <ng-container matColumnDef="direccion">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="70%"> Dirección </th>
                            <td mat-cell *matCellDef="let element">
                                {{ element.ABREVIATURAVIA }}, {{ element.VIA }} {{ element.NUMEROEXTERIOR }}, Col: {{ element.COLONIA}}
                                C.P. {{ element.CODIGOPOSTAL}}, {{ element.DELEGACION}} ({{ element.ESTADO }})
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="historial">
                            <th mat-header-cell *matHeaderCellDef class="verde-cdmx" width="15%" style="text-align: center; font-size: 14px;"><span *ngIf="Auditor"> Historial </span></th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">
                                <button mat-icon-button *ngIf="Auditor" type="button" color="primary" aria-label="Historial" matTooltip="Historial" (click)="viewHistoricoDomicilio(element.IDDIRECCION)">
                                    <mat-icon>search</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator #paginator [length]="total" [pageSize]="15" [pageSizeOptions]="[15]" [showFirstLastButtons]="true" (page)="paginado($event)">
                    </mat-paginator>
                </ng-container>
            </div>
        </div>

    </div>
</mat-card>
